<div id="content">
        <div style="font-weight:bold"><span style="cursor: pointer;color: #335CA7;text-decoration: underline;" routerLink="/remittance/flipkart-cod">FLIPKART</span><span> / {{orderId}} </span>
        </div><br>
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                    [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </span>
                        <h2>FLIPKART Tax Details </h2>
                    </header>


                    <div class="well padding-10 ">
                        <sa-datatable id="DataTable" [options]="flipkartDetails"
                            tableClass="table table-striped table-bordered table-hover" paginationLength="true"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>MARKET PLACE FEE</th>
                                    <th>TAX COLLECTED AT SOURSE</th>
                                    <th>ALL TAXES</th>
                                    <th>COMMISSION RATE</th>
                                    <th>COMMISSION</th>
                                    <th>COLLECTION FEE</th>
                                    <th>FIXED FEE</th>
                                    <th>REVERSE SHIPPING FEE</th>
                                </tr>
                            </thead>

                        </sa-datatable>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
</div>
<div>
    <loader [loading]="loading"></loader>
</div>