<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="float:none;text-align:center;font-size:17px;margin-right:0px">
                            DISPATCH<br>MANAGEMENT</div>
                    </div>
                    <div class="row card-footer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 footer-text" style="text-align:center"
                            (click)="navigateToInvoiceView()">
                            Invoice
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.facilityId=='4'||this.facilityId=='5'||this.facilityId=='7'" class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="float:none;text-align:center;font-size:17px;margin-right:0px">
                            RENTAL<br>MANAGEMENT</div>
                    </div>
                    <div class="row card-footer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 footer-text" style="text-align:center"
                            (click)="navigateToRentalView()">
                            Invoice
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon" style="float:none;text-align:center;font-size:17px;margin-right:0px">
                            DEMO<br>DISPATCH</div>
                    </div>
                    <div class="row card-footer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 footer-text" style="text-align:center"
                            (click)="navigateToDemoDispatch()">
                            Invoice
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>