<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-success pricing-big">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Total Saled Products
                                </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        628
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-primary pricing-big">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Inventory Count
                                </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        472
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-teal pricing-big">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Dispatched from app
                                </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        385
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="panel panel-blueLight pricing-big">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Generated QR's
                                </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        518</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <sa-widgets-grid>
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false" [colorbutton]="false"
                [deletebutton]="false" saSparklineContainer saEasyPieChartContainer>
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-bar-chart-o"></i>
                    </span>
                    <h2 style="margin-right:2%;">Zepo Remittance</h2>
                </header>
                <div class="well padding-10 ">

                    <sa-datatable id="diapatchDataTable" [options]="ZepoRemittance" tableClass="table table-striped table-bordered table-hover"
                        paginationLength="true" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>LEDGER</th>
                                <th>TRACKING ID</th>
                                <th>COURIER NAME</th>
                                <th>TOTAL AMOUNT</th>
                                <th>DUE DATE (dd/mm/yyyy)</th>
                                <th>DELIVERY DATE (dd/mm/yyyy)</th>
                                <th>MONEY RECEIVED DATE (dd/mm/yyyy)</th>
                                <th>MONEY RECEIVED FORM COURIER COMPANY</th>
                                <th>TRANSFER DATE (dd/mm/yyyy)</th>
                                <th>STATUS</th>
                                <th>CREATED DATE (dd/mm/yyyy)</th>
                            </tr>
                        </thead>
                    </sa-datatable>
                </div>
            </div>
        </sa-widgets-grid>

    </sa-widgets-grid>
</div>