<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                    [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </span>
                        <h2>AMAZON Remittance Report </h2>
                    </header>
                    <div class="widget-body" style="min-height: 121px">
                        <fieldset style="padding:0px;padding-top:11px;margin-bottom:-30px;">
                            <section class="form-group col-sm-3 padding-5" *ngIf="QueryData">
                                <label class="control-label"><b>Start Date</b></label>
                                <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="QueryData.startDate"
                                    name="startDate"></my-date-picker>
                            </section>

                            <section class="form-group col-sm-3 padding-5" *ngIf="QueryData">
                                <label class="control-label"><b>End Date</b></label>
                                <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="QueryData.endDate"
                                    name="endDate"></my-date-picker>
                                <div class="icon-color-bad">{{errorMessage}}</div>
                            </section>
                            <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                                <label class="control-label"> <b>Settlement Type</b> </label>
                                <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="returnType"
                                    [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let ret of status_list" [value]="ret">
                                        {{ret}}</option>
                                </select>
                            </section>
                            <section style='margin-top: 24px;' class="form-group col-sm-1 padding-5">

                                <button type="button" title="Submit" class="btn btn-sm btn-primary" id="filter-submit"
                                    (click)="QuerySubmit()">Submit</button>
                            </section>
                        </fieldset>

                    </div>

                    <div class="well padding-10 ">
                        <sa-datatable id="DataTable" [options]="amazonDetails"
                            tableClass="table table-striped table-bordered table-hover" paginationLength="true"
                            width="100%">
                            <thead>
                                <tr>                                   
                                    <th>SETTLEMENT ID</th>
                                    <th>SETTLEMENT DATE </th>
                                    <th>SETTLED VALUE</th>
                                    <th>TYPE</th>
                                    <th>ORDER ID</th>
                                    <th>PRODUCT SALES</th>
                                    <th>TOTAL SALES TAX LIABLE</th>
                                    <th>SELLER SKU</th>
                                    <th>QUANTITY</th>
                                    <th>PRODUCT NAME</th>
                                    <th>ORDER STATE</th>
                                    <th>SHIPPING CREDITS</th>
                                    <th>CGST</th>
                                    <th>SGST</th>
                                    <th>IGST</th>
                                    <th>SELLING FEES</th>
                                    <th>FBA FEES</th>
                                    <th>OTHER TRANSACTION FEES</th>
                                    <th>OTHERS</th>
                                </tr>
                            </thead>
                        </sa-datatable>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
</div>
<div>
    <loader [loading]="loading"></loader>
</div>

    
    