<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>

<div [hidden]="serviceErrorData" id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">
        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Update Driver</h2>
          </header>
          <div class="widget-body">

            <section *ngIf="driverUpdateSuccess" class="text-success text-center"> {{driverUpdateSuccess}} </section>
            <section *ngIf="driverUpdateFailure" class="icon-color-bad text-center"> {{driverUpdateFailure}} </section>
            <br>

            <form *ngIf="driver" [formGroup]="complexForm" class="form" (ngSubmit)="submitForm(complexForm.value)" name="driverUpdateForm"
              id="driverUpdateForm" action="javascript:void(0)" method="post">


              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label" for="update_firstName">
													First Name 
														<font class="icon-color-bad">*</font>
													</label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <input class="form-control" [formControl]="this.firstName" placeholder="First name" [(ngModel)]="driver.firstName" type="text"
                        id="update_firstName" name="firstName" size="30" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label split-input" for="phoneNumber" [ngClass]="{'has-error':! this.phoneNumber.valid &&this.formValidate}"> 
                      Phone Number<font class="icon-color-bad">*</font>
                     </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <input type="text" class="form-control" minlength="10" maxlength="16" size="30" placeholder="Phone number" [formControl]="this.phoneNumber"
                        [(ngModel)]="driver.phoneNumber">
                      <span *ngIf=" this.phoneNumber.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter phone number</span>
                      <span *ngIf="this.phoneNumber.hasError('minlength') && !this.phoneNumber.hasError('pattern') " class="icon-color-bad">Phone Number Should be Min 10 digits</span>
                      <span *ngIf="this.phoneNumber.hasError('pattern')" class="icon-color-bad">Please enter only digits</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row" *ngIf="driver">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label " [ngClass]="{'has-error':!this.lastName.valid &&  this.formValidate}" for="lname">
                       Last Name
                     </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <input type="text" class="form-control" placeholder="Last name" [formControl]="this.lastName" [(ngModel)]="driver.lastName"
                        name="lastName">
                      <span *ngIf=" this.lastName.hasError('minlength') ||this.lastName.hasError('maxlength') ||this.lastName.hasError('pattern') "
                        class="icon-color-bad">Please enter valid name between 3 to 32 characters only</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label split-input">
                         Email <font class="icon-color-bad">*</font>
                     </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" size="30" value='' [(ngModel)]="driver.email"
                        [ngModelOptions]="{standalone: true}" readonly>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label " for="bDate">
                       DOB <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" [selDate]="selectedDate" [(ngModel)]="driver.selectedDate"
                        (dateChanged)="onDateChanged($event)" [ngModelOptions]="{standalone: true}" required></my-date-picker>
                      <span *ngIf="this.formValidate && driver.selectedDate == null " class="icon-color-bad ">Please enter date of birth</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label split-input" for="licenseNumber" [ngClass]="{'has-error':! this.licenseNumber.valid &&this.formValidate}"> 
                      License Number<font class="icon-color-bad">*</font>
                     </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <input type="text" class="form-control" placeholder="License number" [formControl]="this.licenseNumber" [(ngModel)]="driver.licenseNumber">
                      <span *ngIf=" this.licenseNumber.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter license number</span>
                      <span *ngIf="this.licenseNumber.hasError('pattern')||this.licenseNumber.hasError('minlength')||this.licenseNumber.hasError('maxlength')"
                        class="icon-color-bad">Please enter valid license number</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label ">
                       License Expiry Date <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <my-date-picker name="expirydate" [options]="expirydatePickerOptions" [selDate]="selectedLicenseExpiryDate" [(ngModel)]="driver.selectedLicenseExpiryDate"
                        (dateChanged)="onDateChanged($event)" [ngModelOptions]="{standalone: true}" required></my-date-picker>
                      <span *ngIf="this.formValidate && driver.selectedLicenseExpiryDate == null " class="icon-color-bad ">Please enter license expiry date </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label" for="vendorNum">
													Vendor<font class="icon-color-bad">*</font>
													</label>
                    <div class="controls col-sm-6">
                      <select class="form-control" id="vendorNum" name="vendorNum" [formControl]="this.vendorNum" [(ngModel)]="driver.vendorId">
                                                   <option value='' disabled>Select vendor</option>
                                                  <option *ngFor="let vendor of vendorsList" [value]="vendor.vendorNbr">{{vendor.vendorName}}</option>
                                                 </select>
                      <span *ngIf="this.vendorNum.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select vendor name</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <br>
              <div class="smart-form">
                <footer>
                  <div class="row">
                    <div class="control-group col-sm-6 col-sm-offset-4">
                      <button type="button" class="btn  btn-warning" (click)="goBack()">Cancel</button>
                      <button type="submit" id="driver_submit" class="btn  btn-success  "> Update  </button>
                    </div>
                  </div>
                </footer>
              </div>

            </form>

          </div>
        </sa-widget>
      </div>

    </div>
  </sa-widgets-grid>
</div>