<app-error500 [errorname]="getLoadserrorResponse" *ngIf="loadErrorData"></app-error500>
<div [hidden]="loadErrorData" id="content">
	<sa-widgets-grid>
		<sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
			color="blueDark">
			<header>
				<span class="widget-icon">
					<i class="fa fa-table"></i>
				</span>
				<h2>Notifications Tree </h2>

				<!--<div class="widget-toolbar" role="menu">
					<a class="btn btn-primary" (click)="refreshView()"><i class="fa  fa-refresh"></i></a>
				</div>-->

				<div class="widget-toolbar" role="menu">
					<a class="btn btn-primary" (click)="AddorUpdateChannel('')">Add New Channel</a>
				</div>
			</header>

			<div>

				<div class="row">
					<div class="col-sm-4">
						<div class="widget-body no-padding ">
							<br>
							<div class="tree smart-form">
								<ul class="asTree">
									<input type="checkbox" checked="checked" hidden id="treeExp_3" />
									<label class=" btn btn-primary btn-sm" for="treeExp_3" (click)="collapseMenu()">Notifications</label>
									<ul>
										<li id="treechannel{{modulename}}" *ngFor="let modulename of moduleNames">
											<input type="checkbox" checked="checked" hidden />
											<label id="channel{{modulename}}" for={{modulename}}>
												<a (click)="collapseMenu(modulename)">
													<strong>{{modulename}}</strong>
												</a>
											</label>

											<ul id="{{modulename}}">
												<li id="{{item.serviceevent.event}}" *ngFor="let item of jsonData  | ticketsGrouping:{module:modulename}">
													<a (click)="AddorUpdateChannel(item)">{{item.serviceevent.event}}</a>
												</li>
											</ul>

										</li>
									</ul>
								</ul>
							</div>

						</div>

					</div>
					<div class="col-sm-8">

						<div class="custom-scroll  smart-form">

							<form *ngIf="menuCollapse" [formGroup]="complexForm" method="post" class="smart-form form-group client-form">

								<div class="row">
									<section class="col col-4">
										<label class="label" for="module" [ngClass]="{'has-error':! this.module.valid &&  this.module}">
											<strong>Module</strong>
										</label>
									</section>
									<section class="col col-4">
										<label class=" form-control">
											<input type="text" name="module" class="form-control" [formControl]="this.module" [(ngModel)]="notificationChannel.serviceevent.module"
											    placeholder="Module" [readonly]="disableFields">

											<span *ngIf=" this.module.hasError('required') &&submitted  " class=" icon-color-bad ">Please enter module name</span>

											<span *ngIf=" this.module.hasError('pattern') " class=" icon-color-bad "> Enter characters for module</span>

										</label>
									</section>
								</div>

								<div class="row">
									<section class="col col-4">
										<label class="label" for="code" [ngClass]="{'has-error':! this.code.valid &&  this.code}">
											<strong>Event Code</strong>
										</label>
									</section>
									<section class="col col-4">
										<label class=" form-control">
											<input type="text" name="code" class="form-control" [formControl]="this.code" [(ngModel)]="notificationChannel.serviceevent.code"
											    placeholder="Event code" [readonly]="disableFields">

											<span *ngIf=" this.code.hasError('required') &&submitted  " class=" icon-color-bad ">Please enter code</span>

											<span *ngIf=" this.code.hasError('pattern') " class=" icon-color-bad "> Enter numerics for Code</span>

										</label>
									</section>
								</div>

								<div class="row">
									<section class="col col-4">
										<label class="label" for="event" [ngClass]="{'has-error':! this.event.valid &&  this.event}">
											<strong>Event</strong>
										</label>
									</section>
									<section class="col col-4">
										<label class=" form-control">
											<input type="text" name="event" class="form-control" [formControl]="this.event" [(ngModel)]="notificationChannel.serviceevent.event"
											    placeholder="Event" [readonly]="disableFields">

											<span *ngIf=" this.event.hasError('required') &&submitted  " class=" icon-color-bad ">Please enter event</span>

											<span *ngIf=" this.event.hasError('pattern') " class=" icon-color-bad ">Enter characters for event</span>

										</label>
									</section>
								</div>

							</form>

							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4">
									<label class="label" for="emailTemplate">
										<strong>Email Template </strong>
									</label>
								</section>
								<section class="col col-4">
									<label class=" form-control">
										<select class="form-control" [compareWith]="byId" [(ngModel)]="notificationChannel.emailTemplate" (change)="emailTemplateOnChange(notificationChannel.emailTemplate)">
											<option value='' disabled>Select Email Template</option>
											<option *ngFor="let x of templatesNames " [ngValue]="x" [selected]="notificationChannel.emailTemplate ==x">{{x.name}}</option>
										</select>
									</label>
									<span *ngIf="selectEmailTemplate" class=" icon-color-bad ">Select email template</span>

								</section>

							</div>

							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4">
									<label class="label" for="notificationTemplate">
										<strong>Notification Template </strong>
									</label>
								</section>
								<section class="col col-4">
									<label class=" form-control">
										<select class="form-control" [compareWith]="byId" [(ngModel)]="notificationChannel.notificationTemplate " (change)="notificationTemplateOnChange(notificationChannel.notificationTemplate)">
											<option value='' disabled>Select Notification Template</option>
											<option *ngFor="let y of templatesNames " [ngValue]="y" [selected]="notificationChannel.notificationTemplate ==y">{{y.name}}</option>
										</select>
									</label>
									<span *ngIf="selectNotificationTemplate" class=" icon-color-bad ">Select notification template</span>

								</section>

							</div>

							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4">
									<label class="label" for="phoneTemplate">
										<strong>SMS Template</strong>
									</label>
								</section>
								<section class="col col-4">
									<label class=" form-control">
										<input [disabled]="true" type="text" class="form-control" name="phoneTemplate" [(ngModel)]="notificationChannel.phoneTemplate"
										    placeholder="SMS template">
									</label>
								</section>
							</div>



							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4 tooglePosition">
									<label class="label" for="email">
										<strong>Email</strong>
									</label>
								</section>
								<section class="col ">
									<label class="input toggle ">
										<input checked="checked" [(ngModel)]="notificationChannel.email" name="email" type="checkbox">
										<i data-swchoff-text="OFF" data-swchon-text="ON"></i>
									</label>
								</section>
							</div>

							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4 tooglePosition">
									<label class="label" for="sms">
										<strong>SMS</strong>
									</label>
								</section>
								<section class="col ">
									<label class="input toggle">
										<input checked="checked" class="form-control" [(ngModel)]="notificationChannel.sms" name="sms" type="checkbox">
										<i data-swchoff-text="OFF" data-swchon-text="ON"></i>
									</label>
								</section>
							</div>

							<div *ngIf="menuCollapse" class="row">
								<section class="col col-4 tooglePosition">
									<label class="label" for="notificationCenter">
										<strong>Notification Center</strong>
									</label>
								</section>
								<section class="col ">
									<label class="input toggle">
										<input checked="checked" [(ngModel)]="notificationChannel.notificationCenter" name="notificationCenter" type="checkbox">
										<i data-swchoff-text="OFF" data-swchon-text="ON"></i>
									</label>
								</section>
							</div>

							<div class="row" [hidden]="!menuCollapse">
								<section class="col col-4">
									<label class="label" for="widgetRoles">
										<strong>User Roles</strong>
									</label>
								</section>
								<section class="form-control" class="col col-4 " [ngClass]="{'customSelect2DisableStyle': disableUserRole}">
									<select select2 multiple id="widgetUserRoleMultiple" name="userRole" style="width:100%;opacity:0.5" class="select2 form-control "
										required [disabled]="disableUserRole">
										<option *ngFor="let user of widgetUserRolesOptions" [ngValue]="user" [value]="user.name">{{user.name}}</option>
									</select>
									<span *ngIf="submitFailed" class=" icon-color-bad ">Select user roles</span>
								</section>
							</div>

							<div *ngIf="menuCollapse">
								<section *ngIf="channelLoginError" class="icon-color-bad"> {{channelLoginError}} </section>

								<footer *ngIf="!buttonEnable">
									<span class="text-success" *ngIf="notificationDeleteMessage">{{notificationDeleteMessage}}</span>
									<span class="text-success" *ngIf="notificationAddorUpdateMessage">{{notificationAddorUpdateMessage}}</span>
									<span class="icon-color-bad" *ngIf="notificationUpdateErrorMessage">{{notificationUpdateErrorMessage}}</span>
									<button class="btn  btn-success btn-sm" type="submit" (click)="notificationChannelAdd(notificationChannel,'update',widgetRolesSelections)"
										[disabled]="!complexForm.valid">Update</button>
									<button class="btn  btn-warning btn-sm" type="submit" (click)="notificationChannelDelete(notificationChannel)">Delete</button>

								</footer>

								<footer *ngIf="buttonEnable">
									<span class="text-success" *ngIf="notificationDeleteMessage">{{notificationDeleteMessage}}</span>

									<span class="text-success" *ngIf="notificationAddorUpdateMessage">{{notificationAddorUpdateMessage}}</span>
									<span class="icon-color-bad" *ngIf="notificationUpdateErrorMessage">{{notificationUpdateErrorMessage}}</span>
									<button class="btn  btn-success btn-sm" type="submit" (click)="notificationChannelAdd(notificationChannel,'add',widgetRolesSelections)"
										[disabled]="!complexForm.valid">Add</button>
									<button class="btn  btn-warning btn-sm" type="submit" (click)="goBack();">Cancel</button>

								</footer>
							</div>


						</div>





					</div>
				</div>

			</div>

		</sa-widget>

	</sa-widgets-grid>
</div>