<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>
<div [hidden]="serviceErrorData" id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">
        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Add Template </h2>
          </header>
          <div class="widget-body">

            <section *ngIf="templateAddSuccess" class="text-success text-center"> {{templateAddSuccess}} </section>
            <section *ngIf="templateAddFailure" class="icon-color-bad text-center"> {{templateAddFailure}} </section>
            <br>
            <form [formGroup]="templateForm" method="post" id="checkout-form" class="smart-form">

              <fieldset>
                <div class="row">
                  <section class="col col-3" style="margin-bottom: 0px;margin-top: 5px;">
                    <label class="label" for="tname">Template Name</label>
                  </section>
                  <section class="col col-4">
                    <label class="input form-control">
                      <input type="text" name="tname" formControlName="tname" [(ngModel)]="template.name" placeholder="Template name">
                      <span *ngIf="templateForm.controls['tname'].hasError('pattern')||templateForm.controls['tname'].hasError('minlength') ||templateForm.controls['tname'].hasError('maxlength') "
                        class="icon-color-bad">Please enter only alphabets between 5 and 25 characters</span>
                    </label>
                  </section>
                </div>
                <br>
                <div class="row">
                  <section class="col col-3" style="margin-bottom: 0px;margin-top: 5px;">
                    <label class="label" for="ttype">Template Type</label>
                  </section>
                  <section class="col col-4">
                    <label class="input form-control">
                      <!--[(ngModel)]="template.type"-->
                      <select name="roles" class="form-control" #select [(ngModel)]="template.type" (ngModelChange)="onTemplateTypeChange(select.value)"
                        formControlName="ttype" placeholder="Template type" required>
                        <option value="" disabled>Select template type</option>
                        <option value="EMAIL">EMAIL</option>
                        <option value="SMS">SMS</option>
                        <option value="WEBSOCKET">WEBSOCKET</option>
                      </select>
                    </label>
                  </section>
                  <a class="btn btn-default btn-sm" popoverPlacement="bottom" [popover]="myPopover">
                    <strong>Help
                      <i class="fa fa-question"></i>
                    </strong>
                  </a>
                </div>

                <br/>
                <div class="customPaddingActivate">
                  <popover-content class="customPaddingPopOver" #myPopover title="Guidelines for template content" [closeOnClickOutside]="true">
                    <ul>
                      <li>
                        <strong>Send OTP format:</strong> {{otpTextFormat}}</li>
                      <li>
                        <strong>Add user format:</strong> {{addUserTextFormat}}</li>
                      <li>
                        <strong>Delete user format:</strong> {{deletUserTextFormat}}</li>
                      <li>
                        <strong>Send error format:</strong> {{sendErrorTextFormat}}</li>
                    </ul>
                  </popover-content>
                </div>


                <br/>
                <br/>
                <div class="widget-body no-padding">
                  <div class="customTemplateEditorEnhancement">
                    <textarea class="summernote" id="customSummernotes" [customSummernotes]="{height: 180}"></textarea>
                  </div>
                </div>
              </fieldset>
              <span *ngIf="templateContentStatus" class="icon-color-bad"> Template content can't be empty</span>
              <footer>
                <button class="btn btn-success" type="submit" [disabled]="!templateForm.valid" (click)="addTemplate(templateForm.value)">Add</button>
                <button class="btn btn-warning" (click)="goBack()" type="button">Cancel</button>
              </footer>

            </form>
          </div>
        </sa-widget>
      </div>
    </div>
  </sa-widgets-grid>
</div>
