<div id="content">
	<!--<a routerLink="/admin/widget/add"><button class="btn btn-sm btn-success" type="button" style="margin-left: 1060px;">
                     Add Widget
                  </button></a>
	<br/> <br/>-->
	<div class="row">
		<div class="col-sm-12">
			<sa-widgets-grid>


				<sa-widget [editbutton]="false" color="blueDark">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Widget Details</h2>
						
							<div *ngIf="widgetWidget" class="widget-toolbar" role="menu">
								<a class="btn btn-primary" routerLink="/admin/widget/add"> Add Widget</a>
							</div>
					</header>
					<div>
						<div class="widget-body no-padding ">

							<section *ngIf="errorMessage" class="icon-color-bad text-center"> {{errorMessage}} </section>
							<section *ngIf="sucessMessage" class="text-success text-center"> {{sucessMessage}} </section>

							<section *ngIf="WidgetUpdateMessages" class="text-success text-center"> {{WidgetUpdateMessages}} </section>
							<sa-datatable id="example" [options]="options" tableClass="table table-striped table-bordered table-hover" paginationLength="true"
								tableClass="table table-striped table-bordered table-hover" width="100%">
								<thead>
									<tr>
										<th>Widget ID</th>
										<th>Widget Name</th>
										
										<th>Edit/Delete </th>
									</tr>
								</thead>

								<tfoot>
									<tr>
										<th>Widget ID</th>
										<th>Widget Name</th>
										
										<th>Edit/Delete </th>
									</tr>
								</tfoot>
							</sa-datatable>

						</div>
					</div>
				</sa-widget>

			</sa-widgets-grid>
		</div>
	</div>
</div>
