<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">
        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Add Widget </h2>
          </header>
          <div class="widget-body">
            <section *ngIf="widgetError" class="icon-color-bad"> {{widgetError}} </section>
            <form class="smart-form">
              <fieldset>
                <div class="row">
                  <section class="col col-3" style="margin-bottom: 0px;margin-top: 5px;">
                    <label class="label" for="widgetName">Widget Name</label>
                  </section>
                  <section class="col col-4">
                    <label class="input form-control">
                      <input type="text" name="widgetName" [(ngModel)]="widget.name" placeholder="Widget Name">
                    </label>
                  </section>
                </div>
                <br>
                <div class="row">
                  <section class="col col-3" style="margin-bottom: 0px;margin-top: 5px;">
                    <label class="label" for="widgetRoles">Widget Type</label>
                  </section>
                  <section class="col col-4">
                    <select select2 multiple id="widgetUserRoleMultiple" style="width:100%" class="select2 form-control" placeholder="priority">
                      <option *ngFor="let options of widgetUserRolesOptions" [value]="options.name">{{options.name}}</option>
                    </select>
                  </section>
                </div>
              </fieldset>
              <span *ngIf="widgetContentStatus" class="icon-color-bad"> Widget content can't be empty</span>
              <footer>
                <button class="btn btn-success" type="submit" (click)="addWidget(widget.name,widgetRolesSelections)">Add</button>
                <button class="btn btn-warning" (click)="goBack()" type="button">Cancel</button>
              </footer>
            </form>

          </div>
        </sa-widget>
      </div>
    </div>
  </sa-widgets-grid>
</div>
