<div class="row kpiwithscroll" *ngIf="marginTagToSaleSHW">
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginTagToSaleSHW?.totaltagprice">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">TAG PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginTagToSaleSHW?.totaltagprice}}">{{marginTagToSaleSHW?.totaltagprice.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginTagToSaleSHW?.totaltagprice">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">SALE PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginTagToSaleSHW?.totalsaleprice}}">{{marginTagToSaleSHW?.totalsaleprice.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginTagToSaleSHW?.totaltagprice">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">MARGIN</span><span style="color:black;font-size:9px"> (%)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginTagToSaleSHW?.totalmargin}}">{{marginTagToSaleSHW?.totalmargin.toFixed(3)}}</span><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row kpiwithscrolld2h kpiwithscroll" *ngIf="marginsInfoD2H?.totalTagPrice">
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfoD2H">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">TAG PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage" title="{{marginsInfoD2H.totalTagPrice}}">{{(marginsInfoD2H.totalTagPrice).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfoD2H">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">SALE PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"  title="{{marginsInfoD2H.totalSalePrice}}" >{{(marginsInfoD2H.totalSalePrice).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfoD2H">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
             <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">MARGIN</span><span style="color:black;font-size:9px"> (%)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginsInfoD2H.totalMargin}}"> {{marginsInfoD2H.totalMargin.toFixed(3)}}</span><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row kpiwithscroll" *ngIf="costtotagshw">
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtotagshw?.cost">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">COST PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginTagToSaleSHW?.cost}}">{{costtotagshw?.cost.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtotagshw?.tag">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">TAG PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{costtotagshw?.tag}}">{{costtotagshw?.tag.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtotagshw?.margin">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">MARGIN</span><span style="color:black;font-size:9px"> (%)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{costtotagshw?.margin}}">{{costtotagshw?.margin.toFixed(3)}}</span><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row kpiwithscroll" *ngIf="costtosalesshw">
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtosalesshw?.cost">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">COST PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{costtosalesshw?.cost}}">{{costtosalesshw?.cost.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtosalesshw?.sale">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">SALE PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{costtosalesshw?.sale}}">{{costtosalesshw?.sale.toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="costtosalesshw?.margin">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">MARGIN</span><span style="color:black;font-size:9px"> (%)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{costtosalesshw?.margin}}">{{costtosalesshw?.margin.toFixed(3)}}</span><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row kpiwithscrolld2h kpiwithscroll" *ngIf="marginsInfocostd2h?.totalCostPrice">
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfocostd2h">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">COST PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage" title="{{marginsInfocostd2h.totalCostPrice}}">{{(marginsInfocostd2h.totalCostPrice).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfocostd2h">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
            <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">SALE PRICE</span><span style="color:black;font-size:9px"> (In
                        LACs)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"  title="{{marginsInfocostd2h.totalSalePrice}}" >{{(marginsInfocostd2h.totalSalePrice).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 textcenter" *ngIf="marginsInfocostd2h">
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark"
            style="margin-bottom:1px">
             <div class="row kpi-block">
                <div class="col-sm-12 padding-10 box-bottom">
                    <span class="box-title box-title_dia">MARGIN</span><span style="color:black;font-size:9px"> (%)</span>
                </div>
                <div class="col-sm-12 ">
                    <span class="box-value box-title_dia_percentage"
                        title="{{marginsInfocostd2h.totalMargin}}"> {{marginsInfocostd2h.totalMargin.toFixed(3)}}</span><span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>
