<div id="content">
    <sa-widgets-grid>
        <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
            [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer color="blueDark">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2 style="margin-right:2%;">Shipments</h2>
            </header>
            <div class="widget-body" style="min-height: 121px">
                <fieldset style="padding:0px;padding-top:11px;margin-bottom:-30px;">
                    <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                        <label class="control-label"><b>Start Date</b></label>
                        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="QueryData.startDate"
                            name="startDate"></my-date-picker>
                    </section>

                    <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                        <label class="control-label"><b>End Date</b></label>
                        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="QueryData.endDate" name="endDate">
                        </my-date-picker>
                        <div class="icon-color-bad">{{errorMessage}}</div>
                    </section>
                    <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                        <label class="control-label"><b>Shipping
                                Aggregator</b></label>
                        <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="shipmentType">
                            <option *ngFor="let shipment of shipmentTypes" [value]="shipment.shipment_name">
                                {{shipment.name}}</option>
                        </select>
                    </section>
                    <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                        <label class="control-label"><b>Status</b></label>
                        <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="statusType">
                            <option *ngFor="let status of statusTypes" [value]="status.status_name">{{status.name}}
                            </option>
                        </select>
                    </section>
                    <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                        <label class="control-label"><b>Payment Mode</b></label>
                        <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="paymentMode">
                            <option *ngFor="let payment of paymentModes" [value]="payment.payment_name">{{payment.name}}
                            </option>
                        </select>
                    </section>
                    <section style='margin-top: 24px;' class="form-group col-sm-1 padding-5" *ngIf="QueryData">
                        <button type="button" title="Submit" class="btn btn-sm btn-primary" id="filter-submit"
                            (click)="QuerySubmit()">Submit</button>
                    </section>
                </fieldset>
            </div>
            <div class="well padding-10 ">
                <sa-datatable id="DataTable" [options]="shipments"
                    tableClass="table table-striped table-bordered table-hover" paginationLength="false" width="100%">
                    <thead>
                        <tr>
                            <th>CREATED DATE</th>
                            <th>ORDER DATE</th>
                            <th>ORDER ID</th>
                            <th>TRACKING NUMBER</th>
                            <th>COURIER NAME</th>
                            <th>PAYMENT MODE</th>
                            <th>ORDER TOTAL (In Rs)</th>
                            <th>SHIPPING AGGREGATOR</th>
                            <th>STATUS</th>
                            <th>DISPATCH DATE</th>
                            <th>DELIVERY DATE</th>
                            <th>SHIPPING COST (In Rs)</th>
                            <th>PRODUCT NAME</th>
                            <th>REQUEST DATE</th>
                            <th>REFUND STATUS</th>
                        </tr>
                    </thead>
                </sa-datatable>
            </div>
        </div>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong>Shipment Details</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div sa-widget [editbutton]="false" color="greenDark">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table *ngIf='table' class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Order Date</th>
                                                            <th>Order Id</th>
                                                            <th>Status</th>
                                                            <th>Payment Mode</th>
                                                            <th>Dispatch Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{trackingDetails.orderDate.toString().split("-").reverse().join("-")}}
                                                            </td>
                                                            <td> {{trackingDetails.orderId}}</td>
                                                            <td> {{trackingDetails.status}}</td>
                                                            <td> {{trackingDetails.paymentMode}}</td>
                                                            <td> {{trackingDetails.dispatchDate|date:'dd-MM-yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
</div>
<loader [loading]="loading"> </loader>