<div class="headerRibbon ribbonForceColr" id="ribbon">
    <span class="ribbon-button-alignment breadcrumb">
        <b style="color:#009999;font-weight:bold"> Load Board</b>
    </span>
</div>
<div>

    <div *ngIf="loadList?.length===0" class="panel panel-default">
        <div class="panel-body" style="text-align:center">No loads are assigned to you</div>
    </div>
    <div class="panel panel-default" *ngFor="let load of loadList" style="margin-bottom:0px">
        <div class="panel-body padding-5" (click)="loadDetails(load)">
            <div class="row" style="margin-left: 12px;margin-top: 8px;">
                <div class="col-sm-8 col-md-8 col-xs-8" style="padding:0px;padding-top:4px">
                    <span class="load-subtitle" style="font-weight:bold"> {{load.originLocNbr.locAddrName.toUpperCase()}} - {{load.destLocNbr.locAddrName.toUpperCase()}}</span>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3" style="padding:0px;padding-top:4px">
                    <span *ngIf="load.loadStatNbr.id === 4" style="color:green;float:right;font-weight:bold"> Load Accepted</span>
                </div>
            </div>

            <div class="row" style="margin-left: 12px;margin-top: 8px;">
                <div class="col-sm-3 col-md-3 col-xs-3" style="padding:0px;padding-top:4px">
                    <b>Load Number:</b><span class="load-subtitle"> {{load.loadNumber}} </span>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3" style="padding:0px;padding-top:4px">
                    <b>Skid Drops:</b><span class="load-subtitle"> {{load.skidDrops.length}} </span>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3" style="padding:0px;padding-top:4px">
                    <b>Trip Miles:</b><span class="load-subtitle"> {{load.totalMiles?load.totalMiles.toFixed(2):0}}</span>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3" style="padding:0px;padding-top:4px">
                    <b>Cartons:</b><span class="load-subtitle"> {{load.totalCartons}}</span>
                </div>
            </div>



            <!--<div class="row load-view">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5 col-xs-5 col-md-5 load-subtitle padding-5">
                            <b>Vendor Name</b>
                        </div>
                        <div class="col-sm-1 col-xs-1 col-md-1 padding-5"> : </div>
                        <div class="col-sm-6 col-xs-5 col-md-5 padding-5">{{load.vndNbr.vendorName}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5 col-xs-5 col-md-5 load-subtitle padding-5">
                            <b>High Priority</b>
                        </div>
                        <div class="col-sm-1 col-xs-1 col-md-1 padding-5"> : </div>
                        <div class="col-sm-6 col-xs-5 col-md-5 padding-5">
                            <label>
                                    <input type="checkbox" [(ngModel)]="load.highPriorityLoad" onclick="return false;">
                                </label>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!--<div class="load panel-footer" align="right" (click)="loadDetails(load.apptNbr)">
            <div class="footer-view-btn"> VIEW
                <i class="glyphicon glyphicon-circle-arrow-right"></i>
            </div>
        </div>
        <div class="load panel-footer" align="right" (click)="preInspection(load.apptNbr)" *ngIf="load.apptStatNbr.id === 4">
            <div class="footer-view-btn"> Pickup Inspection
            </div>
        </div>-->
    </div>
</div>

<div *ngIf="!loadList">
    <div class="panel-body" style="text-align:center"> {{loadListdataError}} </div>
</div>