<div class="headerRibbon ribbonForceColr" id="ribbon">
    <span class="ribbon-button-alignment breadcrumb">
       <b style="color:#009999;font-weight:bold">Delivery Inspection</b>
   </span>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" color="blueDark">
            <div class="widget-body">
                <b style="text-align:center" *ngIf="skidList.length==0">Skid Drops not available</b><br>
                <b style="text-align:center;color:green" *ngIf="loadCompleteMsg">{{loadCompleteMsg}}</b>

                <div class="row" *ngIf="skidList.length">
                    <div class="col-sm-2 col-xs-2"></div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="row">
                            <label class="col-sm-4 col-xs-4 control-label" for="condition">
                                   Skid Drops
                                   <font class="icon-color-bad">*</font>
                               </label>
                            <div class="controls col-sm-6 col-xs-6">
                                <select class="form-control" id="skid" name="skid" [(ngModel)]="skidData.skid" [ngModelOptions]="{standalone: true}">
                                       <option value='' disabled>Select skid</option>
                                       <option *ngFor="let list of skidList;" [value]="list.destLocNbr.locNbr">{{list.destLocNbr.locAddrName}}</option>
                                   </select>
                                <span *ngIf="this.skidData.skid=='' && formValidate" class="icon-color-bad">Please
                                       Select skid drop</span>
                            </div>
                        </div>
                    </div>
                </div><br>
                <footer *ngIf="skidList.length">
                    <div class="row">
                        <div class="control-group col-sm-5 col-sm-offset-5 col-xs-5 col-xs-offset-5" style="margin-bottom:10px">
                            <button class="btn  btn-success btn-sm" type="button" (click)="submit()">
                                   Submit </button>
                        </div>
                    </div>
                </footer>
            </div>
        </sa-widget>
    </div>
</div>