<div bsModal #showOfflineAlert="bs-modal" data-backdrop="static" class="modal fade" tabindex="-1" [config]="{'backdrop':'static', 'keyboard': false}"
  role="dialog" aria-labelledby="myLargeModalLabel" style="top:35%">
  <div class="row">
    <div class="col-sm-2 col-xs-2"></div>
    <div class="col-sm-8 col-xs-8">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header text-align:center">
            <h4 class="modal-title"><strong>{{title}}</strong></h4>
          </div>
          <div class="modal-body ">
            {{popupMessage}}
          </div>
          <div class="modal-footer padding-10" style="text-align:center">
            <!-- <button class="btn btn-default" type="button" (click)="onCancel()">Cancel</button> -->
            <button class="btn btn-primary" type="button" (click)="hide()">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-2"></div>
  </div>

</div>