<header id="header">
  <div id="logo-group">
    <span id="logo" style="text-align:center">
       <img src="./assets/img/pmj/small_logo.png" alt="pmj" width="100%"> 
              </span>
    <!--<sa-activities></sa-activities>-->
  </div>
  <!--<div>
    <sa-ribbon></sa-ribbon>
  </div>-->
  <div class="pull-right">
    <sa-collapse-menu></sa-collapse-menu>
    <sa-logout></sa-logout>
    <sa-full-screen></sa-full-screen>
    <div id="fullscreen" class="btn-header transparent pull-right" (click)="navigateToUpload()">
      <span> <a title="File Upload" ><i
                class="fa fa-upload"></i></a> </span>
    </div>

  </div>
</header>