
<router-outlet></router-outlet>
<div bsModal #showOfflineAlert="bs-modal" data-backdrop="static" class="modal fade" tabindex="-1" [config]="{'backdrop':'static', 'keyboard': false}"
    role="dialog" aria-labelledby="myLargeModalLabel" style="top:35%">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><img src="assets/img/logom.png" alt="MedicalBulkBuy" width="90%"></h4>
            </div>
            <div class="modal-body" style="text-align: center">
                Check your internet connection and try again
            </div>
            <div class="modal-footer padding-10" style="text-align:center">
                <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                <button class="btn btn-success" type="button" (click)="connectivityListners()">Retry</button>
            </div>
        </div>
    </div>
</div>