<sa-widgets-grid>
    <div class="padding-10">
        <date-filter (dateData)="queryDate($event)"></date-filter>
        <info-boxes [costtotagshw]="kipblock"></info-boxes>
        <sa-widgets-grid *ngIf="noData">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>COST TO TAG </h2>
                </header>

                <div class="widget-body text-center">
                    <h3>There is no data in selected time range</h3>
                </div>
            </div>
        </sa-widgets-grid>
        <div *ngIf="!noData">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false"
                        [fullscreenbutton]="false" [colorbutton]="false" [deletebutton]="false" saSparklineContainer
                        saEasyPieChartContainer color="blueDark" class="box-shadow-ui">
                        <header>
                            <h2>GOLD & DIAMONDS </h2>
                        </header>
                        <div class="row">
                            <div class="col-sm-6 widget-body border-r-1">
                                <div id="costPriceGoldDiamondsContainer" style="height:400px"></div>
                            </div>
                            <div class="col-sm-6 widget-body">
                                <div id="tagPriceGoldDiamondsContainer" style="height:400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
                  
                <div [ngClass]="uiClassToggle ?'col-sm-12':'col-sm-6 col-xs-12'">
                    <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false"
                        [fullscreenbutton]="false" [colorbutton]="false" [deletebutton]="false" saSparklineContainer
                        saEasyPieChartContainer color="blueDark" class="box-shadow-ui">
                        <header>
                            <h2>DIAMONDS - COST PRICE vs TAG PRICE </h2>
                            <div class="widget-toolbar inventory_status_chart" role="menu">
                                <on-off-switch
                                    (onoffClick)="lineChartConvertion('diamondsTagPricevsTAGPriceContainer')">
                                </on-off-switch>
                            </div>
                        </header>

                        <div>
                            <div class="widget-body">
                                <div id="diamondsCostPricevsTagPriceContainer" style="height:250px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="uiClassToggle ?'col-sm-12':'col-sm-6 col-xs-12 even'">
                    <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false"
                        [fullscreenbutton]="false" [colorbutton]="false" [deletebutton]="false" saSparklineContainer
                        saEasyPieChartContainer color="blueDark" class="box-shadow-ui">
                        <header>
                            <h2>GOLD - COST PRICE vs TAG PRICE </h2>
                            <div class="widget-toolbar inventory_status_chart" role="menu">
                                <on-off-switch (onoffClick)="lineChartConvertion('goldCostPricevsTagPriceContainer')">
                                </on-off-switch>
                            </div>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="goldCostPricevsTagPriceContainer" style="height:250px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</sa-widgets-grid>
<loader [loading]=loaderStatus></loader>
