<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>

<sa-widgets-grid [hidden]="serviceErrorData">
    <!-- calendar widget -->
    <sa-widget color="blueDark" [collapsed]="false" [colorbutton]="false" [togglebutton]="false" [editbutton]="false">
        <header>

            <span class="widget-icon">
                <i class="fa fa-calendar"></i>
            </span>
            <h2 style="width:15%"> Events </h2>

            <div class="widget-toolbar">
                <div class="btn-group dropdown dropdown-large" (click)="openFilterDropDown()" [ngClass]="calendarFilterDropDownToggle" dropdown
                    style="width:15px">
                    <a class="button-icon" title="filter" dropdownToggle style="color:#fff;" aria-expanded="true">
                        <i class="fa fa-cog"></i>
                    </a>
                    <div class="FilterDropDownAnimation dropdown-menu dropdown-menu-large filterDropwdownViewAlign" role="menu" (click)="$event.stopPropagation()">
                        <div id="checkout-form" class="smart-form">
                            <header style="padding:2px">Filter</header>
                            <fieldset>

                                <div class="row form-group">
                                    <section class="col col-xs-4 filterFormAlign">
                                        <label class="label">Priority</label>
                                    </section>
                                    <section class="col col-xs-8">
                                        <label class="form-control" style="border:0px;height:auto">
                                            <select select2 multiple id="priorityMultipleSelect" style="width:100%" class="select2 form-control" placeholder="priority">
                                                <option *ngFor="let options of priorityOptions" [value]="options.value">{{options.name}}</option>
                                            </select>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group">
                                    <section class="col col-xs-4 filterFormAlign">
                                        <label class="label">Event Type</label>
                                    </section>
                                    <section class="col col-xs-8">
                                        <label class="form-control" style="border:0px;height:auto">

                                            <select select2 multiple id="evntTypeMultipleSelect" style="width:100%" class="select2 " placeholder="Event type">
                                                <option *ngFor="let options of Typeevents" [value]="options.value">
                                                    <i class={{options.value}}></i>{{options.name}}</option>
                                            </select>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group">
                                    <section class="col col-xs-4 filterFormAlign">
                                        <label class="label">Calendar View</label>
                                    </section>
                                    <section class="col col-xs-8">
                                        <label class=" form-control">
                                            <select name="view" class="form-control" [(ngModel)]="calendarView" placeholder=" Calendar view" required>
                                                <option value="month">Month</option>
                                                <option value="agendaWeek">Week</option>
                                                <option value="agendaDay">Day</option>
                                                <option value="listMonth">List Month Events</option>
                                                <option value="listWeek">List Week Events</option>
                                            </select>
                                        </label>
                                    </section>
                                </div>

                                <div class="row form-group">
                                    <section class="col col-xs-4 tooglePosition filterFormAlign">
                                        <label class="label">Show Active</label>
                                    </section>
                                    <section class="col col-xs-1">
                                        <label class="toggle">
                                            <input checked="checked" name="activeEvents" [(ngModel)]="activeEvents" type="checkbox">
                                            <i data-swchoff-text="No" data-swchon-text="Yes"></i>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>

                            <fieldset style="padding:5px">
                                <div style="float:right;">
                                    <button class="btn  btn-warning btn-sm" type="submit" (click)="onFilterEventCancel()">Cancel</button>
                                    <button class="btn  btn-success btn-sm" type="submit" (click)="onFilterEventSubmit()">Submit</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div>

            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="Custom-calendar-buttons" id="calendar-buttons">
                        <div class="btn-group">
                            <a (click)="prev()" class="btn btn-default btn-xs">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a (click)="next()" class="btn btn-default btn-xs">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- calender -->
                <div id="calendar"></div>

                <!-- createEvent -->
                <div bsModal #popoverAddEvent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="popoverAddEvent.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Create Event</h4>
                            </div>
                            <div class="smart-form">
                                <header>
                                    <div class="form-bootstrapWizard clearfix" style="padding:20px">
                                        <ul class="bootstrapWizard">
                                            <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane" style="width:33%">
                                                <a>
                                                    <span class="step">
                                                        <span *ngIf="!pane.checked">{{i + 1}}</span>
                                                        <i class="fa fa-check" *ngIf="pane.checked"></i>
                                                    </span>
                                                    <span class="title">{{pane.title}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                            </div>

                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                                        <form [formGroup]="complexCreateEventForm" method='post' id="add-event-form">
                                            <fieldset>

                                                <div class="form-group" style="margin-bottom:0px">
                                                    <label for='createEventType'>Select Event Type
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <label class="select" style="width:100%">
                                                        <select [(ngModel)]="eventType" class="form-control" [formControl]="this.createEventType" name="createEventType">
                                                            <option value="" disabled>Select event type</option>
                                                            <option *ngFor="let options of Typeevents" [value]="options.value">{{options.name}}</option>
                                                        </select>
                                                    </label>
                                                    <span *ngIf="this.createEventType.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select event type</span>

                                                </div>

                                                <div class="form-group">
                                                    <label for="createEventTitle">Event Title
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <input class="form-control" [(ngModel)]="title" name="createEventTitle" [formControl]="this.createEventTitle" type="text"
                                                        placeholder="Event title" />
                                                    <span *ngIf="complexCreateEventForm.controls['createEventTitle'].hasError('maxlength')||complexCreateEventForm.controls['createEventTitle'].hasError('minlength')"
                                                        class=" icon-color-bad ">Please enter minimum 3 and maximum 32 charecters</span>
                                                    <span *ngIf=" this.createEventTitle.hasError('required') && formValidate" class=" icon-color-bad ">Please enter title</span>
                                                </div>

                                                <div class="form-group">
                                                    <label for="createEventDescription">Event Description
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <textarea class="form-control" [(ngModel)]="description" name="createEventDescription" [formControl]="this.createEventDescription"
                                                        placeholder="Please be brief" style="resize: none;"></textarea>
                                                    <span *ngIf="complexCreateEventForm.controls['createEventDescription'].hasError('maxlength')||complexCreateEventForm.controls['createEventDescription'].hasError('minlength')"
                                                        class=" icon-color-bad ">Please enter minimum 5 and maximum 1000 charecters</span>
                                                    <span *ngIf=" this.createEventDescription.hasError('required') && formValidate" class=" icon-color-bad ">Please enter description</span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="createEventStartValid">Start Date
                                                                <font class="icon-color-bad">*</font>
                                                            </label>
                                                            <input class="form-control" ngui-datetime-picker name="createEventStartValid" [formControl]="this.createEventStartValid"
                                                                [(ngModel)]="eventStartDate" [default-value]="CalenderInputdefaultValue"
                                                                parse-format="YYYY-MM-DD HH:mm" [min-date]="todayDate" date-format="DD-MM-YYYY HH:mm"
                                                                show-week-numbers=true [close-on-select]="false" name="eventStartdate"
                                                                id="eventStartdate" placeholder="Start date" />
                                                            <span *ngIf="eventaddStartValidation" class=" icon-color-bad ">Please select valid date</span>
                                                            <span *ngIf=" this.createEventStartValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please select start date</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="createEventEndValid">End Date
                                                                <font class="icon-color-bad">*</font>
                                                            </label>
                                                            <input class="form-control" name="createEventEndValid" [formControl]="this.createEventEndValid" [(ngModel)]="eventEnddate"
                                                                parse-format="YYYY-MM-DD HH:mm" [default-value]="CalenderInputEnddefaultValue"
                                                                [min-date]="todayDate" ngui-datetime-picker date-format="DD-MM-YYYY HH:mm"
                                                                [close-on-select]="false" id="eventEnddate" name="eventEnddate"
                                                                placeholder="End date" />
                                                            <span *ngIf="eventaddEndValidation" class=" icon-color-bad ">Please select valid date</span>
                                                            <span *ngIf=" this.createEventEndValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please select end date</span>
                                                        </div>
                                                    </div>
                                                    <span *ngIf="eventAddStartEndTimeComparision" class=" icon-color-bad ">End date should be greater than start date</span>
                                                </div>

                                                <label>Event Priority</label>
                                                <div class="btn-group btn-group-sm btn-group-justified btn-select-tick">
                                                    <div *ngFor="let colorClassName of colorClassNames" [saToggleActive]="colorClassName == activeColorClass" class="btn {{colorClassName.bg}}"
                                                        (click)="setColorClass(colorClassName)">
                                                        <span style="display:block">
                                                            <i class=" fa fa-check" style="color:#fff;"></i>
                                                            <span style="color:#fff;font-weight:bold">{{colorClassName.title}}</span>
                                                        </span>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="tab-pane" [class.active]="activeStep.key == 'step2'">

                                        <div id="order-form" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-4" style="padding:5px;padding-left:20px">
                                                        Select Property Type:
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="select">
                                                            <select [(ngModel)]="PropertySelectData" placeholder="Property type" (ngModelChange)="onPropertySelect($event)" name="propertySelect">
                                                                <option value="" disabled>Type</option>
                                                                <option value="SMS">SMS</option>
                                                                <option value="Email">Email</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section *ngIf="propertySelected" class="col col-2">
                                                        <a class="btn btn-primary btn-sm" (click)="addPropertyAttributes()">Add Property</a>
                                                    </section>
                                                </div>
                                            </fieldset>

                                            <div *ngIf="propertySelected" class="text-center">
                                                <form [formGroup]="createPropertiesForm" method='post' *ngIf="showPropertyAttributes" id="checkout-form" class="smart-form">
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-5">
                                                                <label class="input">
                                                                    <input type="text" name="CreatePkey" [formControl]="this.CreatePkey" [(ngModel)]="newProperty.newPropertyKey" placeholder="Property key">
                                                                </label>
                                                            </section>
                                                            <section class="col col-5">
                                                                <label class="input">
                                                                    <input type="text" name="CreatePvalue" [formControl]="this.CreatePvalue" [(ngModel)]="newProperty.newPropertyValue" placeholder="Property value">
                                                                </label>
                                                            </section>
                                                            <section class="col col-2">
                                                                <button class="btn btn-primary btn-sm" type="submit" [disabled]="!createPropertiesForm.valid" (click)="submitPropertyData(newProperty.newPropertyKey,newProperty.newPropertyValue)">Submit</button>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>

                                        <table id="user" class="table " style="clear:both;padding-top:20px">
                                            <tbody>

                                                <tr *ngFor="let property of properties| keys">
                                                    <td>{{property}} </td>
                                                    <td>{{properties[property]}}</td>
                                                    <td>
                                                        <i class="fa fa-trash-o" (click)='deleteProperty(property)'></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                                        <h1 class="text-center text-success">
                                            <strong>
                                                <i class="fa fa-check fa-lg"></i> Complete</strong>
                                        </h1>
                                        <h4 class="text-center">Click Add Event to Save</h4>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous">
                                                <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Previous </a>
                                            </li>
                                            <li class="next">
                                                <a (click)="nextStep()" [class.hidden]="steps.indexOf(activeStep) == 2" class="btn btn-lg txt-color-darken"> Next </a>
                                                <a *ngIf="steps.indexOf(activeStep) == 2" (click)="AddEventDetailsWithProperties()" class="btn btn-lg txt-color-darken">
                                                Add Event </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- updateEvent -->
                <div bsModal #popoverupdateEvent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" (click)="popoverupdateEvent.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Update Event</h4>
                            </div>
                            <div class="smart-form">
                                <header>
                                    <div class="form-bootstrapWizard clearfix" style="padding:20px">
                                        <ul class="bootstrapWizard">
                                            <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane" style="width:33%">
                                                <a>
                                                    <span class="step">
                                                        <span *ngIf="!pane.checked">{{i + 1}}</span>
                                                        <i class="fa fa-check" *ngIf="pane.checked"></i>
                                                    </span>
                                                    <span class="title">{{pane.title}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                            </div>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                                        <form [formGroup]="complexupdateEventForm" id="add-event-form">
                                            <fieldset>

                                                <div class="form-group" style="margin-bottom:0px">
                                                    <label for='updateEventType'>Select Event Type
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <label class="select" style="width:100%">
                                                        <select [(ngModel)]="eventType" class="form-control" [formControl]="this.updateEventType" name="updateEventType">
                                                            <option value="" disabled>Select event type</option>
                                                            <option *ngFor="let options of Typeevents" [value]="options.value">{{options.name}}</option>
                                                        </select>
                                                    </label>
                                                </div>

                                                <div class="form-group">
                                                    <label for="updateTitleValid">Event Title
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <input [(ngModel)]="updateTitle" class="form-control" name="updateTitleValid" [formControl]="this.updateTitleValid" type="text"
                                                        placeholder="Event title" [readonly]="updateDisableFields" />
                                                    <span *ngIf="complexupdateEventForm.controls['updateTitleValid'].hasError('maxlength')||complexupdateEventForm.controls['updateTitleValid'].hasError('minlength')"
                                                        class=" icon-color-bad ">Please enter minimum 3 and maximum 32 charecters</span>
                                                    <span *ngIf=" this.updateTitleValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please enter title</span>
                                                </div>

                                                <div class="form-group">
                                                    <label for="updateDescriptionValid">Event Description
                                                        <font class="icon-color-bad">*</font>
                                                    </label>
                                                    <textarea [(ngModel)]="updateDescription" name="updateDescriptionValid" [formControl]="this.updateDescriptionValid" class="form-control"
                                                        placeholder="Please be brief" id="description" style="resize: none;"
                                                        [readonly]="updateDisableFields"></textarea>
                                                    <span *ngIf="complexupdateEventForm.controls['updateDescriptionValid'].hasError('maxlength')||complexupdateEventForm.controls['updateDescriptionValid'].hasError('minlength')"
                                                        class=" icon-color-bad ">Please enter minimum 5 and maximum 1000 charecters</span>
                                                    <span *ngIf=" this.updateDescriptionValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please enter description</span>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="updateEventStartValid">Start Date
                                                                <font class="icon-color-bad">*</font>
                                                            </label>
                                                            <input class="form-control" name="updateEventStartValid" [default-value]="CalenderInputdefaultValue" [formControl]="this.updateEventStartValid"
                                                                [(ngModel)]="updateEventStartdate" default-value='setInputCalenderDate'
                                                                show-week-numbers='true' parse-format="YYYY-MM-DD HH:mm" ngui-datetime-picker
                                                                date-format="DD-MM-YYYY HH:mm" [min-date]="todayDate" [close-on-select]="false"
                                                                id="updateEventStartdate" name="updateEventStartdate" placeholder="Start date"
                                                                [readonly]="updateDisableFields " />
                                                            <span *ngIf="eventUpdateStartValidation" class=" icon-color-bad ">PleasesSelect valid date</span>
                                                            <span *ngIf=" this.updateEventStartValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please select start date</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="updateEventEndValid">End Date
                                                                <font class="icon-color-bad">*</font>
                                                            </label>
                                                            <input class="form-control" name="updateEventEndValid" [default-value]="CalenderInputEnddefaultValue" [formControl]="this.updateEventEndValid"
                                                                [(ngModel)]="updateEventEnddate" [min-date]="todayDate" default-value='setInputCalenderDate'
                                                                parse-format="YYYY-MM-DD HH:mm" ngui-datetime-picker date-format="DD-MM-YYYY HH:mm"
                                                                [close-on-select]="false" id="updateEventEnddate" name="updateEventEnddate"
                                                                placeholder="End date" [readonly]="updateDisableFields" />
                                                            <span *ngIf="eventUpdateEndValidation" class=" icon-color-bad ">Please select valid date</span>
                                                            <span *ngIf=" this.updateEventEndValid.hasError('required') &&formValidate" class=" icon-color-bad ">Please select end date</span>
                                                        </div>
                                                    </div>

                                                    <span *ngIf="updateStartEndComparision" class=" icon-color-bad ">End Date should be greater than start date</span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Event Priority</label>
                                                    <div class="btn-group btn-group-sm btn-group-justified btn-select-tick">
                                                        <div *ngFor="let colorClassName of colorClassNames" [saToggleActive]="colorClassName == activeColorClass" class="btn {{colorClassName.bg}}"
                                                            (click)="setColorClass(colorClassName)">
                                                            <span style="display:block">
                                                                <i class=" fa fa-check" style="color:#fff;"></i>
                                                                <span style="color:#fff;font-weight:bold">{{colorClassName.title}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                                        <div id="order-form" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-4" style="padding:5px;padding-left:20px">
                                                        Select Property Type:
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="select">
                                                            <select [(ngModel)]="PropertySelectData" placeholder="Property type" (ngModelChange)="onPropertySelect($event)" name="propertySelect">
                                                                <option value="" selected="selected" disabled>Type</option>
                                                                <option value="SMS">SMS</option>
                                                                <option value="Email">Email</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section *ngIf="propertySelected" class="col col-2">
                                                        <a class="btn btn-primary btn-sm" (click)="addPropertyAttributes()">Add Property</a>
                                                    </section>
                                                </div>
                                            </fieldset>

                                            <div *ngIf="propertySelected" class="text-center">
                                                <form [formGroup]="createPropertiesForm" method='post' *ngIf="showPropertyAttributes" id="checkout-form" class="smart-form">
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-5">
                                                                <label class="input">
                                                                    <input type="text" name="CreatePkey" [formControl]="this.CreatePkey" [(ngModel)]="newProperty.newPropertyKey" placeholder="Property key">
                                                                </label>
                                                            </section>
                                                            <section class="col col-5">
                                                                <label class="input">
                                                                    <input type="text" name="CreatePvalue" [formControl]="this.CreatePvalue" [(ngModel)]="newProperty.newPropertyValue" placeholder="Property value">
                                                                </label>
                                                            </section>
                                                            <section class="col col-2">
                                                                <button class="btn btn-primary btn-sm" type="submit" [disabled]="!createPropertiesForm.valid" (click)="submitPropertyData(newProperty.newPropertyKey,newProperty.newPropertyValue)">Submit</button>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>

                                        <table id="user" class="table " style="clear:both;padding-top:20px">
                                            <tbody>
                                                <tr *ngFor="let property of properties| keys">
                                                    <td>{{property}} </td>
                                                    <td>{{properties[property]}}</td>
                                                    <td>
                                                        <i class="fa fa-trash-o" (click)='deleteProperty(property)'></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                                        <h1 class="text-center text-success">
                                            <strong>
                                                <i class="fa fa-check fa-lg"></i> Complete</strong>
                                        </h1>
                                        <h4 class="text-center">Click Update Event to Save</h4>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <ul class="pager wizard no-margin">
                                            <li class="previous">
                                                <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0" class="btn btn-lg btn-default"> Previous </a>
                                            </li>
                                            <li class="next">
                                                <a (click)="nextStep()" [class.hidden]="steps.indexOf(activeStep) == 2" class="btn btn-lg txt-color-darken"> Next </a>
                                                <a *ngIf="steps.indexOf(activeStep) == 2" (click)="updateEventDetailsProperties()" class="btn btn-lg txt-color-darken"> Update Event </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </sa-widget>

</sa-widgets-grid>
