<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title></title>
<style>
table {
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
}

table th {
	background-color: gray;
}
</style>
</head>

<body>
	<table border="1">
		<tr align="center" style="font-size: medium; color: black;">
			<th>S NO</th>
			<th>Product Name</th>
			<th>SKU Code</th>
			<th>Inventory count</th>
		</tr>
		<tr th:each="inventory,iterator : ${inventoryList}">
			<td th:text="${iterator.index+1}" align="center"
				style="color: black;"></td>

			<td th:text="${inventory.productName}" align="center"
				style="color: black;"></td>

			<td th:text="${inventory.skuCode}" align="center"
				style="color: black;"></td>

			<td th:text="${inventory.totalInventory}" align="center"
				style="color: black;"></td>

		</tr>
	</table>
</body>
</html>

