<p> csv file </p>



<% @csv.each do |row| %>
<table border="1">
<% row.each do |value|%>


<td colspan="3"width=100 >
  <%= value %>

</td>


<% end %>
</table>
<% end %>
<br>
<%= link_to "Back", root_path%>
