<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>

<div [hidden]="serviceErrorData" id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">
        <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Drivers Details </h2>
            <div class="widget-toolbar" role="menu">
              <a class="btn btn-primary" routerLink="/drivers/addDriver"> Add Driver</a>
            </div>
          </header>
          <div>

            <div class="widget-body  ">
              <section *ngIf="driverDeleteSuccess" class="text-success text-center"> {{driverDeleteSuccess}} </section>
              <section *ngIf="driverDeleteFailure" class="icon-color-bad text-center"> {{driverDeleteFailure}} </section>

              <sa-datatable id="DataTable" [options]="options" tableClass="table table-striped table-bordered table-hover" paginationLength="true"
                width="100%">
                <thead>
                  <tr>
                    <th> Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Vendor</th>
                    <th>Edit/Delete </th>
                  </tr>
                </thead>

                <tfoot>
                  <tr>
                    <th> Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>vendor</th>
                    <th>Edit/Delete </th>
                  </tr>
                </tfoot>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>

      </div>
    </div>

  </sa-widgets-grid>
</div>

<div bsModal #driverviewPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="driverviewPopup.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Driver Details</h4>
      </div>
      <div class="modal-body" *ngIf="driverListView">

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>First Name </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5">
                {{driverListView?.firstName}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5  ">
                <b>Last Name </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class=" col-xs-7 col-sm-7 padding-5">
                {{driverListView?.lastName}}
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>Email </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5" style="word-wrap: break-word;">
                {{driverListView?.email}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5  ">
                <b>Phone Number </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class=" col-xs-7 col-sm-7 padding-5">
                {{driverListView?.phoneNumber}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>Date Of Birth </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5">
                {{driverListView.dateOfBirth|moment:'DD-MM-YYYY'}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>License Number </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5">
                {{driverListView?.licenseNumber }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>License Expiry Date </b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5">
                {{driverListView.licenseExpiryDate|moment:'DD-MM-YYYY'}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class=" col-xs-4 col-sm-4 padding-5 ">
                <b>Vendor</b>
              </div>
              <div class="col-xs-1 col-sm-1 padding-5">:</div>
              <div class="col-xs-7 col-sm-7 padding-5">
                {{driverListView?.vendor.vendorName}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="driverviewPopup.hide()">Close</button>
      </div>
    </div>
  </div>
</div>