<div class="headerRibbon" id="ribbon">
  <span class="ribbon-button-alignment breadcrumb">
	<span class="btn btn-ribbon"placement="bottom">
        <i class="fa fa-bell"></i>
        </span> Notifications Settings
  </span>
</div>

<div class="widgetBody" id="content">

  <!-- widget content -->
  <div class="widget-body ">
    <div class="custom-scroll  smart-form">

      <section *ngIf="editNotificationError" style="color: red;"> {{editNotificationError}} </section>
      <div *ngFor="let modulename of moduleNames">


        <p class="alert alert-info"> <strong> {{modulename}} </strong></p>

        <table class="table table-striped table-hover table-users">
          <thead>
            <tr>
              <th width="25%">
                <div class="col-xs-6 col-sm-6 col-md-5">Service Name</div>
              </th>
              <th width="25%" style="text-align:center;">
                <div class="col-xs-6 col-sm-8 col-md-5">Email</div>
              </th>
              <th width="25%" style="text-align:center;">
                <div class="col-xs-6 col-sm-8 col-md-5">SMS</div>
              </th>
              <th width="25%" style="text-align:center;">
                <div class="col-xs-6 col-sm-8 col-md-6">Notification Center</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notificationData of jsonData | ticketsGrouping:{module:modulename}" (change)="notificationOnChange(notificationData)">

              <td width="25%" class="hidden-phone">{{notificationData.serviceevent.event}}</td>

              <td width="25%">
                <div class="row show-grid">

                  <div class="col-xs-6 col-md-4" style="text-align:center">
                    <section>
                      <label class="input toggle">            
                        <input checked="checked" [(ngModel)]="notificationData.email" name="email" type="checkbox"><i data-swchoff-text="OFF" data-swchon-text="ON"></i>
                      </label>
                    </section>
                  </div>
                </div>
              </td>


              <td width="25%">
                <div class="row show-grid">

                  <div class="col-xs-6 col-md-4" style="text-align:center">
                    <section>
                      <label class="input toggle">            
                          <input checked="checked" [(ngModel)]="notificationData.sms" name="sms" type="checkbox"><i data-swchoff-text="OFF" data-swchon-text="ON"></i>
                        </label>
                    </section>
                  </div>
                </div>
              </td>

              <td width="25%">
                <div class="row show-grid">

                  <div class="col-xs-6 col-md-4" style="text-align:center">
                    <section>
                      <label class="input toggle">            
                          <input checked="checked" [(ngModel)]="notificationData.notificationCenter" name="notificationCenter" type="checkbox"><i data-swchoff-text="OFF" data-swchon-text="ON"></i>
                        </label>
                    </section>
                  </div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
        <br>
      </div>


    </div>
  </div>
  <!-- end widget content -->

</div>