.imgg{
float:left
}

.sku
{
position: relative;
padding:10px;
}
.sku span{
float: right;
width: 15px;
text-align: center; 
overflow:hidden; 
}

.smart-form .select i:before {
    top: 0;
    border-bottom: 0px solid #404040;
}