<div class="headerRibbon" id="ribbon">
  <span class="ribbon-button-alignment breadcrumb">
    <span class="btn btn-ribbon" placement="bottom">
      <i class="fa fa-truck"></i>
    </span> Add Product
  </span>
</div>

<div style="margin:1%">
  <div class="widget-body no-padding text-align">
    <div *ngIf="errorStatus">{{errorStatus}}</div>
    <form [formGroup]="complexForm" method="post" id="checkout-form" class="smart-form" *ngIf="productAddObj">

      <fieldset>
        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="id" style="font-weight: 600;">Barcode Id
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" name="barcode" formControlName="barcode" placeholder="please enter barcode" readonly>
            </label>
          </section>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="id" style="font-weight: 600;">SKU Code
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" name="skucode" formControlName="skuCode" placeholder="please enter SKU code " readonly>
            </label>
          </section>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Product Name
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" name="productName" formControlName="productName" placeholder="Product Name" readonly>
            </label>
          </section>
        </div>



        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="inventoryCondition" style="font-weight: 600;">Inventory Condition
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="select form-control">
              <select id="power" name="condition" class="form-control" formControlName="inventoryConditionId" (change)="getStatusList($event.target.value)"
                required>
                <option *ngFor="let condition of productConditionList" [selected]="condition.inventoryCondition == item1">{{condition.inventoryCondition}}</option>
              </select>
              <i></i>
            </label>
          </section>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" style="font-weight: 600;">Item Status
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="select form-control">
              <select id="power" name="status" class="form-control" formControlName="itemStatusId" placeholder="please select status"
                required>
                <option *ngFor="let status of statusList" [selected]="status.itemStatus == item">{{status.itemStatus}}</option>
              </select>
              <i></i>
            </label>

          </section>
        </div>

        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Date
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" [ngModel]="productCreatedDate| date: 'dd-MMM-yyyy'" disabled [ngModelOptions]="{standalone: true}">
            </label>
          </section>
        </div>


        <!--<div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Upload Images
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <div class="row">
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[0]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="50%" *ngIf="imagesArray[0]">
              </div>
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[1]">
                <img src="data:image/jpeg;base64,{{imagesArray[1]}}" width="50%" *ngIf="imagesArray[1]">
              </div>
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[2]">
                <img src="data:image/jpeg;base64,{{imagesArray[2]}}" width="50%" *ngIf="imagesArray[2]">
              </div>
            </div>
          </section>
        </div>-->


        <!--<div class="row" *ngIf="test==2">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Upload Images
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5" style="margin:auto">
            <div class="row imgg">
              <div class="col col-6 sku" style="margin:auto;align:center">
                <span *ngIf="imagesArray[0]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[0]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[0]">
              </div>
              <div class="col col-6 sku">
                <span *ngIf="imagesArray[1]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[1]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[1]">
              </div>
              <div class="col col-6 sku">
                <span *ngIf="imagesArray[2]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[2]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[2]">
              </div>
            </div>
          </section>
        </div>-->



      </fieldset>

      <footer>
        <section class="col col-9">
          <button class="btn  btn-warning btn-sm" type="submit" (click)="cancelUser()">Cancel</button>
          <button class="btn  btn-success btn-sm" type="submit" (click)="addUser()">
            Add
          </button>
        </section>

      </footer>

    </form>
  </div>
</div>

<div bsModal #addProductAlert="bs-modal" data-backdrop="static" class="modal fade" tabindex="-1" [config]="{'backdrop':'static', 'keyboard': false}"
  role="dialog" aria-labelledby="myLargeModalLabel" style="top:35%">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add Product</strong></h4>
      </div>
      <div class="modal-body ">
        {{successResponse}}
      </div>
      <div class="modal-footer padding-10" style="text-align:center">
        <button class="btn btn-primary" type="button" (click)="Okay()"> Ok </button>
      </div>
    </div>
  </div>
</div>



<!--<div class="headerRibbon" id="ribbon">
  <span class="ribbon-button-alignment breadcrumb">
    <span class="btn btn-ribbon" placement="bottom">
      <i class="fa fa-truck"></i>
    </span> Add Product
  </span>
</div>

<div style="margin:1%">
  <div class="widget-body no-padding text-align">
    <div *ngIf="errorStatus">{{errorStatus}}</div>
    <form [formGroup]="complexForm" method="post" id="checkout-form" class="smart-form" *ngIf="productAddObj">
      <fieldset>
        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="id" style="font-weight: 600;">Barcode Id
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" name="barcode" formControlName="barcode" [(ngModel)]="productAddObj.barcode"  placeholder="Barcode Id" readonly>
            </label>
            <div *ngIf="!submitted || complexForm.controls['barcode'].touched ||complexForm.controls['barcode'].dirty" class="text-danger">
              <div *ngIf="complexForm.controls['barcode'].hasError('required')">
                Please enter barcode id
              </div>
            </div>
          </section>
        </div>

        <div formGroupName="inventoryId">
          <div class="row">
            <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
              <label class="label" for="productName" style="font-weight: 600;">Product Name
                <font class="text-danger">*</font>
              </label>
            </section>
            <section class="col col-5">
              <label class="input form-control">
                <input type="text" name="productName" formControlName="productName" [(ngModel)]="productAddObj.productName" placeholder="Product Name" readonly>
              </label>
              <div *ngIf="!submitted || complexForm.controls['inventoryId'].controls['productName'].touched ||complexForm.controls['inventoryId'].controls['productName'].dirty"
                class="text-danger">
                <div *ngIf="complexForm.controls['inventoryId'].controls['productName'].hasError('required')">
                  Please enter product name
                </div>
              </div>
            </section>
          </div>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="inventoryCondition" style="font-weight: 600;">Inventory Condition
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">

            <label class="select form-control">
              <select id="power" name="condition" class="form-control" formControlName="inventoryConditionId" (ngModelChange)="getStatusList($event)"
                [(ngModel)]="testValue" placeholder="please select inventory condition" required>
                <option *ngFor="let condition of productConditionList" [value]="condition.id" >{{condition.inventoryCondition}}</option>
              </select><i></i>
            </label>
            <div *ngIf="(!submitted || complexForm.controls['inventoryConditionId'].touched ||complexForm.controls['inventoryConditionId'].dirty) && complexForm.controls['inventoryConditionId'].hasError('required')"
              class="text-danger">
              Please select inventory condition
            </div>
          </section>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" style="font-weight: 600;">Item Status
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="select form-control">
              <select id="power" name="status" class="form-control" formControlName="itemStatusId" [(ngModel)]="testValue2" placeholder="please select status"
                required>
                <option *ngFor="let status of statusList" [value]="status.id" >{{status.itemStatus}}</option>
              </select>
              <i></i>
            </label>
            <div *ngIf="(!submitted || complexForm.controls['itemStatusId'].touched ||complexForm.controls['itemStatusId'].dirty) && complexForm.controls['itemStatusId'].hasError('required')"
              class="text-danger">
              Please select item status
            </div>
          </section>
        </div>

        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Date
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <label class="input form-control">
              <input type="text" [ngModel]="productCreatedDate| date: 'dd-MMM-yyyy'" disabled [ngModelOptions]="{standalone: true}">
            </label>
          </section>
        </div>


        <div class="row">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Upload Images
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5">
            <div class="row">
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[0]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="50%" *ngIf="imagesArray[0]">
              </div>
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[1]">
                <img src="data:image/jpeg;base64,{{imagesArray[1]}}" width="50%" *ngIf="imagesArray[1]">
              </div>
              <div class="col-sm-6">
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[2]">
                <img src="data:image/jpeg;base64,{{imagesArray[2]}}" width="50%" *ngIf="imagesArray[2]">
              </div>
            </div>
          </section>
        </div>


        <div class="row" *ngIf="picUpload">
          <section class="col col-5" style="margin-bottom: 0px;margin-top: 5px;">
            <label class="label" for="productName" style="font-weight: 600;">Upload Images
              <font class="text-danger">*</font>
            </label>
          </section>
          <section class="col col-5" style="margin:auto">
            <div class="row imgg">
              <div class="col col-6 sku" style="margin:auto;align:center">
                <span *ngIf="imagesArray[0]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[0]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[0]">
              </div>
              <div class="col col-6 sku">
                <span *ngIf="imagesArray[1]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[1]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[1]">
              </div>
              <div class="col col-6 sku">
                <span *ngIf="imagesArray[2]">X</span>
                <img src="./assets/img/product/cam3.png" width="75%" (click)="uploadImage()" *ngIf="!imagesArray[2]">
                <img src="data:image/jpeg;base64,{{imagesArray[0]}}" width="75%" *ngIf="imagesArray[2]">
              </div>
            </div>
          </section>
        </div>
      </fieldset>

      <footer>
        <section class="col col-9">
          <button class="btn  btn-warning btn-sm" type="submit" (click)="cancelUser()">Cancel</button>
          <button class="btn  btn-success btn-sm" type="submit" (click)="addUser()">
            Add
          </button>
        </section>

      </footer>

    </form>
  </div>
</div>

<div bsModal #addProductAlert="bs-modal" data-backdrop="static" class="modal fade" tabindex="-1" [config]="{'backdrop':'static', 'keyboard': false}"
  role="dialog" aria-labelledby="myLargeModalLabel" style="top:35%">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><strong>Add Product</strong></h4>
      </div>
      <div class="modal-body ">
        {{successResponse}}
      </div>
      <div class="modal-footer padding-10" style="text-align:center">
        <button class="btn btn-primary" type="button" (click)="Okay()"> Ok </button>
      </div>
    </div>
  </div>
</div>-->