<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>
<div [hidden]='serviceErrorData' id="content">
    <sa-widgets-grid>

        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                    <header>

                        <span class="widget-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </span>
                        <h2>Analytics</h2>

                    </header>
                    <div>
                        <div class="widget-body">
                            <form class="smart-form" id="dealer-filter-form">
                                <fieldset style="padding:0px">
                                    <section class="form-group col-sm-4 padding-5" *ngIf="QueryData">
                                        <label class="control-label">Start Date</label>
                                        <my-date-picker [options]="myDatePickerOptions" [selDate]="startDate" [(ngModel)]="QueryData.startDate" name="startDate"></my-date-picker>
                                    </section>

                                    <section class="form-group col-sm-4 padding-5" *ngIf="QueryData">
                                        <label class="control-label">End Date</label>
                                        <my-date-picker [options]="myDatePickerOptions" [selDate]="endDate" [(ngModel)]="QueryData.endDate" name="endDate"></my-date-picker>
                                        <div class="icon-color-bad">{{errorMessage}}</div>
                                    </section>
                                </fieldset>



                                <footer style="padding:0px">
                                    <section class="col col-8">
                                        <button class="btn btn-default" title="Reset" type="button" id="filter-reset" (click)="QueryReset()">Reset</button>
                                        <button class="btn btn-success" title="generate Reports" type="button" (click)="generateReports()">Reports</button>
                                        <input type="button" title="Submit" class="btn btn-sm btn-primary" id="filter-submit" value="Submit" (click)="QuerySubmit()">
                                    </section>

                                </footer>

                            </form>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>

        <div class="row" id="noData">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row text-center">
                            No data to display
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="data">
            <div class="row">
                <div class="col-sm-12">
                    <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <h2>Daily Loads Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="dc-vs-loads-chart" class="dc-chart">
                                    <a class="reset" style="display: none;">reset</a>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- <sa-chart-js type="bar"></sa-chart-js>-->
                            </div>
                        </div>
                    </sa-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <h2>Loads Status Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="status-chart" class="dc-chart">
                                    <a class="reset" style="display: none;">reset</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </sa-widget>
                </div>

                <div class="col-sm-6">
                    <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <h2>Load Appointment Type Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="appointment-type-chart" class="dc-chart">
                                    <a class="reset" style="display: none;">reset</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </sa-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <h2>Distribution Centers Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="dc-chart" class="dc-chart">
                                    <a class="reset" style="display: none;">reset</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </sa-widget>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
                        <header>
                            <span class="widget-icon">
                                <i class="fa fa-bar-chart-o"></i>
                            </span>
                            <h2>Total Loads w.r.t their Distribution Centers</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="dc-data-count" class="dc-chart" style="color:#38397b">
                                    <span class="filter-count"></span> selected out of
                                    <span class="total-count"></span> loads |
                                    <a href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
                                </div>
                                <table class="table table-hover dc-data-table">
                                </table>
                            </div>
                        </div>
                    </sa-widget>
                </div>
            </div>
        </div>
    </sa-widgets-grid>
</div>
