<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>

      <li>
        <a routerLink="/maps">
          <i class="fa fa-lg fa-fw fa-map-marker"></i>
          <span class="menu-item-parent">{{'Maps' | i18n}}</span></a>
      </li>

      <li>
        <a routerLink="/loads">
          <i class="fa fa-lg fa-fw fa-truck"></i>
          <span class="menu-item-parent">{{'Loads' | i18n}}</span></a>
      </li>


      <li>
        <sa-logout></sa-logout>

        <!--<a routerLink="/loads">
          <i class="fa fa-lg fa-fw fa-truck"></i>
          <span class="menu-item-parent">{{'Loads' | i18n}}</span></a>-->
      </li>


    </ul>
    <!--<aside-chat></aside-chat>-->
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
