<div class="headerRibbon" id="ribbon">
	<span class="ribbon-button-alignment breadcrumb">
	<span class="btn btn-ribbon"placement="bottom">
        <i class="fa fa-bell"></i>
        </span> Notifications List
	</span>
</div>

<div class="widgetBody" id="content">
	<div class="widget-body no-padding ">
		<div class="row">
			<div class="col-sm-12">
				<div class="well">
					<span *ngIf="currentView=='notificationsList'">
						<div *ngFor="let items of grouped  ">
							<p class="alert alert-info"> 
								<strong> {{items[0].lastUpdateTime |  moment:"MMMM Do YYYY" }}</strong>
							</p>
							<div class="message message-reply" *ngFor="let item of items  ">
								<span class="message-text" [innerHTML]="item.notificationContext"></span>
					<div class=" font-xs">
						<div class="text-muted">
							<em>{{item.lastUpdateTime|moment:"MMMM Do YYYY, h:mm:ss a"  }}</em>
						</div>
					</div>
					<div class="timeline-seperator text-center"></div>
					<br>
				</div>
			</div>
			</span>

			<span *ngIf="currentView=='calendarsList'">
						<div *ngFor="let events of calendarGrouped  ">
							<p class="alert alert-info">
								 <strong> {{events[0].lastUpdateTime |  moment:"MMMM Do YYYY" }}</strong>
							</p>
									<div class="message message-reply" *ngFor="let calendarItem of events  ">
											<span class="title">{{calendarItem.title}}</span>
			<br>
			<span class="message-text">{{calendarItem.description}}</span>
			<div class=" font-xs">
				<div class="text-muted">
					<em>{{calendarItem.start | momentdategrouped:'MMMM Do, h:mm a' }}</em>
				</div>
			</div>
			<div class="timeline-seperator text-center"></div>
			<br>
		</div>
	</div>
	</span>
</div>
</div>
</div>
</div>
</div>
