<header id="header">
  <sa-collapse-menu></sa-collapse-menu>
  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->

    <span class="headerLogo">
    <a (click)="homeView()"><img alt="Solar" class="logoImage" src="assets/img/solar.png"></a><span class="logoName">Solar</span>
    </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->

  </div>


  <!--<sa-recent-projects></sa-recent-projects>-->



  <!-- pulled right: nav area -->
  <div class="pull-right">

    <sa-activities></sa-activities>

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->


    <!-- logout button -->

    <!-- end logout button -->

    <sa-full-screen></sa-full-screen>
    <!-- end fullscreen button -->



  </div>
  <!-- end pulled right: nav area -->

</header>
