.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}

label {
  cursor: pointer;
}

.form {
  margin: 33px 0 !important;
}

form label {
  display: inline-block;
  font-weight: unset;
  margin-bottom: 5px;
  max-width: 100%;
}

.redFont {
  color: red;
}

.form .row {
  margin-bottom: 10px;
}

.form {
  margin: 33px 0;
}

.form .alert {
  padding: 0px;
}

.form h2 {
  margin-bottom: 30px;
}

.form-control:focus,
.single-line:focus {
  border-color: #1ab394;
}

.has-success .form-control {
  border-color: #1ab394;
}

.has-warning .form-control {
  border-color: #f8ac59;
}

.has-error .form-control {
  border-color: #ed5565;
}

.has-success .control-label {
  color: #1ab394;
}

.has-warning .control-label {
  color: #f8ac59;
}

.has-error .control-label {
  color: #ed5565;
}

.dataTable .btn {
  margin: 0 2px;
  padding: 3px 5px;
}

.btn-warning {
  background-color: #f8ac59 !important;
  border-color: #f8ac59 !important;
  color: #ffffff !important;
}

.btn {
  border-radius: 3px;
}

.btn-danger {
  background-color: #ed5565 !important;
  border-color: #ed5565 !important;
  color: #ffffff !important;
}

.dataTables_wrapper .pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-color: #ddd;
  color: #777777;
  cursor: not-allowed;
}

.dataTables_wrapper table tfoot tr:nth-child(2) td {
  border: none !important;
}

.dataTables_wrapper table tfoot tr:nth-child(2) {
  border: none !important;
}

#ng2-popup-overlay {
  position: inherit !important;
}

.modal-header {
  background: #00abff none repeat scroll 0 0;
  padding: 1px 30px;
  position: relative;
}

.modal-body {
  background: #fff none repeat scroll 0 0;
  color: #444444;
  position: fixed;
  font-size: 15px !important;
}

.modal-content {
  width: 850px;
}

.modal-body .row>div {
  margin-bottom: 10px;
}

.modal-body {
  font-size: 17px;
  overflow-wrap: break-word;
}

.modal-dialog {
  margin-left: 18% !important;
  margin-top: 10% !important;
  width: 850px !important;
}

.popup-container.opened {
  display: block;
  position: absolute;
  left: 33%;
  top: 0px;
  font-size: 13px;
  /* font-stretch: normal; */
  color: black;
}

.popup-header {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  display: none;
}

.close-popup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  cursor: pointer;
  font-size: 21px;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  padding: 10px;
  display: none;
}

.custom-font {
  font-size: 13px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-control,
.single-line {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  font-size: 14px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

h2 {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

.loginColumns {
  /*  width: 760px;
   margin: 8% auto 0; */
  //background: rgba(0, 0, 0, 0) url("../images/PALS_Splash_WithMetanoiaLogo.jpg") no-repeat scroll 0 0;
  height: 580px;
  margin: 0 auto;
  width: 78%;
}

.loginscreen.middle-box {
  width: 300px;
  margin-left: -150px;
  margin-top: -330px;
}

.login-background {
  background: #fff;
}

.login-content {
  margin-left: 556px;
  margin-top: 160px;
}

.loginColumns h2 {
  text-align: center;
}


/** Maps */

.map {
  height: 400px;
  width: 100%;
}


/** IBox */

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  //background-color: #ffffff;
  //border-color: #e7eaec;
  border-image: none;
  //border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}

.ibox-content {
  //background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  //border-color: #e7eaec;
  border-image: none;
  //border-style: solid solid none;
  border-width: 1px 0px;
}

.ibox-content {
  clear: both;
}


/** Profile */

.feed-activity-list .feed-element {
  border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
  margin-top: 0;
}

.feed-element {
  padding-bottom: 15px;
}

.feed-element,
.feed-element .media {
  margin-top: 15px;
}

.feed-element,
.media-body {
  overflow: hidden;
}

.feed-element>.pull-left {
  margin-right: 10px;
}

.feed-element img.img-circle,
.dropdown-messages-box img.img-circle {
  width: 38px;
  height: 38px;
}

.feed-element .well {
  border: 1px solid #e7eaec;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 11px;
  line-height: 16px;
}

.feed-element .actions {
  margin-top: 10px;
}

.feed-element .photos {
  margin: 10px 0;
}

.feed-photo {
  max-height: 180px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

#driverCount {
  background: rgb(121, 186, 236);
}

#driverCount_icon,
#vinCount_icon,
#notificationCount_icon {
  position: absolute;
  bottom: 25px;
  left: 180px;
}

#driverCount_icon i,
#vinCount_icon i,
#notificationCount_icon i {
  font-size: 4em;
}

#dealerCount {
  background: rgb(232, 173, 170);
}

#dealerCount_icon {
  position: absolute;
  bottom: 20px;
  left: 170px;
}

#dealerCount_icon img {
  opacity: 0.7;
  height: 60px;
  width: 80px;
}

#vinCount {
  background: rgb(177, 174, 211);
}

#notificationCount {
  background: rgb(129, 216, 208);
}

.driver-notifications {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  height: 300px;
  margin-left: 14px;
  overflow-y: scroll;
  width: 418px;
}

.administratorRight {
  border-bottom: 1px dotted gray;
  padding: 10px;
  text-align: right;
}

.driverLeft {
  border-bottom: 1px dotted gray;
  direction: ltr;
  padding: 10px;
}

.row.driverLeft,
.row.administratorRight {
  margin-left: 0px;
  margin-right: 0px;
}


/**POP-UP*/

.load_details .popup_body {
  font-size: 14px;
  padding: 22px 30px;
  overflow-y: scroll;
}

.popup_headers>div {
  margin-bottom: 5px;
}

.load_details span {
  color: #676a6c;
  font-weight: bold;
}

.popup_inner .row,
.popup_inner .row>div {
  margin: 0px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.popup_inner {
  border: 1px solid #dadada;
  border-radius: 5px;
  margin: 20px 0;
}

.popup_inner i {
  cursor: pointer;
  color: #909090;
}

.popup_inner .header {
  background-color: #eee;
  border-bottom: 1px solid #dadada;
  border-radius: 5px 5px 0 0;
}


/* Weather */

.weather_details {
  background: #fff none repeat scroll 0 0;
  color: #444444;
  display: none;
  left: 7%;
  min-height: 300px;
  position: fixed;
  top: 20%;
  width: 850px;
  z-index: 999999;
  margin-left: 14%;
}

.weather_details .popup_body {
  font-size: 15px;
}

.weatherDetailsNotAvailable {
  font-size: 18px;
  text-align: center;
}


/*Loader for Weather report */

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-left: 45%;
  margin-top: 12%;
}


/* Weather Details PopUp*/

.weather_details .popup_header {
  background: #F1F1F1;
}

.current_conditions {
  margin-bottom: -2%;
  margin-top: 2%;
  color: #333333
}

.current_conditions b {
  font-weight: 700;
}

.location_name {
  font-weight: 700;
  color: #0B5699;
  margin-top: 30px;
}

.lat_value {
  font-size: 15px;
  font-weight: normal;
}

.lat_text {
  font-size: 15px;
  font-weight: 700;
}

.weather_image img {
  width: 140px;
}

.few_clouds {
  font-size: 18px;
  font-weight: 700;
}

.temp {
  font-size: 40px;
  font-weight: 700;
  line-height: 0.5;
}

.tempC {
  font-size: 25px;
}

.weather_header {
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.1;
  text-align: right;
}

.weather_text {
  font-family: Verdana;
  font-size: 16px;
  line-height: 2.1;
  text-align: left;
}

.dew_point label,
.heat_index label {
  font-weight: normal;
}

.view_weather_details {
  cursor: pointer;
  width: 30px;
}


/* Weather PopUp */

.popup_header {
  /*background: #1ab394 none repeat scroll 0 0;*/
  padding: 1px 30px;
  position: relative;
}

.popup_header h3 {
  color: #fff;
  font-size: 23px;
  margin: 23px 0;
}

.popup_body {
  font-size: 17px;
  padding: 35px 30px;
  word-wrap: break-word;
}

#close {
  position: absolute;
  right: 3%;
  top: 39%;
  cursor: pointer
}


/* Live Tracking */

.normalLoadMarker {
  box-sizing: border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border: 5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.highPriorityLoadMarker {
  box-sizing: border-box;
  background: #FFFF00;
  box-shadow: 2px 2px 4px #333;
  border: 5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.highValueLoadMarker {
  box-sizing: border-box;
  background: red;
  box-shadow: 2px 2px 4px #333;
  border: 5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.highValueLoad {
  box-sizing: border-box;
  background: red;
  box-shadow: 2px 2px 4px #333;
  border: 4px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.normalLoad {
  box-sizing: border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border: 5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.highPriorityLoad {
  box-sizing: border-box;
  background: #FFFF00;
  box-shadow: 2px 2px 4px #333;
  border: 4px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.highValueLoadLabel,
.normalLoadLabel,
.highPriorityLoadLabel {
  font-size: 13px;
}


/* Notification Pagination */

.paginationDiv {
  text-align: right;
}


/* Analytics */

.reset {
  cursor: pointer;
}


/* Header bar notifications alerts */

#geofence_notifications_label,
#chat_notifications_label {
  float: left;
}

.msg-area {
  padding: 5px;
  border-bottom: #ccc 1px solid;
}


/* Load Details page */

.nVin-details,
.vin-details {
  background: #dddddd none repeat scroll 0 0;
  border-radius: 4px;
  color: #4f4f4f;
  margin-left: 32px !important;
  margin-right: 32px !important;
  padding-top: 0 !important;
}

.nVin-details .subheader,
.vin-details .subheader {
  background: #487193 none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
}

.notifications_load_details .popup_inner .header {
  background-color: lightslategrey;
}

.notifications_load_details .popup_inner i {
  cursor: pointer;
  color: lightslategrey;
}

.mapbox_address {
  border: 0.5px solid #000;
  border-radius: 3px;
  background: #fff;
  color: #000;
  cursor: pointer;
}

select-dropdown>div .options,
select-dropdown>div .filter input,
select-dropdown>div .filter {
  background: #62A8D2;
}


/* Temporary CSS */

.row.wrapper.border-bottom.white-bg.page-heading {
  margin-bottom: 15px;
}


/* Notification Settings */

#adminNotifictationSettings td,
#driverNotifictationSettings td,
#dealerNotifictationSettings td {
  padding: 10px;
}

#adminNotifictationSettings td select,
#driverNotifictationSettings td select,
#dealerNotifictationSettings td select {
  width: 70% !important;
  height: 25% !important;
}


/* Contact Driver */

#notification-msg {
  background: #62A8D2;
  color: #fff;
  border: 1px solid #fff;
}


/* Login Page */

.auth-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 32px;
}

.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.auth-block h1 {
  font-weight: 300;
  margin-bottom: 28px;
  text-align: center;
  font-size: 25px;
}

label.col-sm-2.control-label.login_email,
label.col-sm-2.control-label.login_password {
  text-align: left;
}

.footer {
  margin-top: 50px;
}

ng-select>div>div.single>div.placeholder {
  color: #fff !important;
}

select.form-control:not([size]):not([multiple]) {
  height: 2.0rem !important;
}

.form-control.select2 {
  padding: 0px !important;
}

.form-control.highPriority,
.form-control.highLoad {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}


/* select2 dropdown */

.select2-selection__arrow {
  background: transparent !important;
  border: none !important;
}

.select2-selection.select2-selection--single,
.select2-selection.select2-selection--multiple {
  background: transparent !important;
  border: 1px solid #f5f5f5 !important;
}

span.select2.select2-container.select2-container--classic {
  width: 100% !important;
}

.select2-selection__rendered {
  color: #fff !important;
}

.select2-dropdown.select2-dropdown--below,
.select2-dropdown.select2-dropdown--above {
  background: #62A8D2 !important;
  border: 1px solid #fff !important;
  color: #fff !important;
  font-size: 14px !important;
  line-height: 1 !important;
}

.select2-search__field {
  background: #62A8D2 !important;
}

.select2-selection__choice {
  background: grey !important;
  border: 1px solid #f5f5f5 !important;
}

#dealersList .select2-search__field {
  width: 0px !important;
}

.select2-selection__choice__remove {
  color: #fff !important;
}

.select2-selection__placeholder {
  color: #fff !important;
}
