<div id="content">
    <sa-widgets-grid>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                    [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-bar-chart-o"></i>
                        </span>
                        <h2 style="margin-right:2%;">Returns </h2>
                    </header>
                    <div class="widget-body">
                        <form class="smart-form" id="dealer-filter-form">
                            <fieldset style="padding:0px">
                                <section class="form-group col-sm-1 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>From</b></label>
                                    <my-date-picker [options]="myDatePickerOptions" [selDate]="startDate"
                                        [(ngModel)]="QueryData.startDate" name="startDate"></my-date-picker>
                                </section>
                                <section class="form-group col-sm-1 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>To</b></label>
                                    <my-date-picker [options]="myDatePickerOptions" [selDate]="endDate"
                                        [(ngModel)]="QueryData.endDate" name="endDate"></my-date-picker>
                                    <div class="icon-color-bad">{{errorMessage}}</div>
                                </section>
                                <section class="form-group col-sm-2 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>Channel</b></label>
                                    <select class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="channel"
                                        [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let channel of channels" [value]="channel.id">
                                            {{channel.channel}}</option>
                                    </select>
                                </section>
                                <!-- </fieldset>
                            <fieldset style="padding:0px;border: 0;"> -->
                                <section class="form-group col-xs-2 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>Return Status</b></label>
                                    <select class="form-control ng-pristine ng-valid ng-touched"
                                        [(ngModel)]="returnStatus" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let status of returnStatuses" [value]="status.id">
                                            {{status.status}}</option>
                                    </select>
                                </section>
                                <section class="form-group col-xs-2 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>Refund Status</b></label>
                                    <select class="form-control ng-pristine ng-valid ng-touched"
                                        [(ngModel)]="refundStatus" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let status of refundStatuses" [value]="status.id">
                                            {{status.status}}</option>
                                    </select>
                                </section>
                                <section class="form-group col-xs-2 padding-5" *ngIf="QueryData">
                                    <label class="control-label"><b>Type Of Returns</b></label>
                                    <select class="form-control ng-pristine ng-valid ng-touched"
                                        [(ngModel)]="returnType" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let types of returnTypes" [value]="types.id">
                                            {{types.type}}</option>
                                    </select>
                                </section>
                                <section class="form-group col-xs-1 padding-5" *ngIf="QueryData">
                                    <br>
                                    <button type="button" title="Submit" class="btn btn-sm btn-primary"
                                        id="filter-submit" (click)="QuerySubmit()">Submit</button>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                    <div class="well padding-10">
                        <div *ngIf="sucessMsg" style="font-weight:bold;color:green;text-align:center">{{sucessMsg}}
                        </div>
                        <div *ngIf="errorMsg" style="font-weight:bold;color:red;text-align:center">{{errorMsg}}</div>
                        <sa-datatable id="ReturnDataTable" [options]="ReturnDetails"
                            tableClass="table table-striped table-bordered table-hover" paginationLength="true"
                            width="100%" filter="true">
                            <thead>
                                <tr>
                                    <th>Return Id</th>
                                    <th>Order Id</th>
                                    <th>SKU & Product Name</th>
                                    <th>QR Code </th>
                                    <th>Serial Number</th>
                                    <th>Facility</th>
                                    <th>Dispatched Date</th>
                                    <th>Returned Date</th>
                                    <th>Channel</th>
                                    <th>Actions </th>
                                </tr>
                            </thead>
                        </sa-datatable>
                    </div>
                </div>
            </div>
        </div>

        <div bsModal #returnModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="returnModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong>Return Details</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div sa-widget [editbutton]="false" color="greenDark">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table *ngIf='table' class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Return Request On</th>
                                                            <th>Return Type</th>
                                                            <th>Reason</th>
                                                            <th>Product Status</th>
                                                            <th>UNICOMMERCE Reference No</th>
                                                            <th>Tracking Number</th>
                                                            <th>Pickup Initiated</th>
                                                            <th>Comments</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{returnDetails?.returnRequestOn |date:'dd-MM-yyyy'}}
                                                            </td>
                                                            <td> {{returnDetails?.typeOfReturn.returnType}}</td>
                                                            <td> <span
                                                                    *ngIf='returnDetails.returnReasons.id !=13'>{{returnDetails?.returnReasons.reason}}</span><span
                                                                    *ngIf='returnDetails.returnReasons.id ==13'>{{returnDetails?.otherReasons}}</span>
                                                            </td>
                                                            <td> {{returnDetails?.productStatus}}</td>
                                                            <td> {{returnDetails?.unicommerceRefferenceNo}}</td>
                                                            <td>{{returnDetails?.trackingNumber}}</td>
                                                            <td>{{returnDetails?.pickupInitiated  |date:'dd-MM-yyyy'}}
                                                            </td>
                                                            <td> {{returnDetails?.comments}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="returnModal.hide()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div bsModal #refundModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="refundModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong>Refund Details</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div sa-widget [editbutton]="false" color="greenDark">
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="table-responsive">
                                                <table *ngIf='details' class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Refund On</th>
                                                            <th>Invoice Amount(Rs)</th>
                                                            <th>Refunded Amount(Rs)</th>
                                                            <th>Payment Gateway Charges(Rs)</th>
                                                            <th>Courier Charges(Rs)</th>
                                                            <th>Others Amount(Rs)</th>
                                                            <th>Transaction Number</th>
                                                            <th>Bank Name</th>
                                                            <th>Channel</th>
                                                            <th>Comments</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{refundedDetails?.refundedDate |date:'dd-MM-yyyy'}}
                                                            </td>
                                                            <td> {{refundedDetails?.amount}}</td>
                                                            <td>{{refundedDetails?.refundedAmount}}</td>
                                                            <td>{{refundedDetails?.paymentGatewayCharges}}</td>
                                                            <td>{{refundedDetails?.courierCharges}}</td>
                                                            <td>{{refundedDetails?.others}}</td>
                                                            <td> {{refundedDetails?.transactionNumber}}</td>
                                                            <td>{{refundedDetails?.bankName}}</td>
                                                            <td *ngIf='refundedDetails.dispatchId.channel!=null'>
                                                                {{refundedDetails?.dispatchId.channel.channelName}}
                                                            </td>
                                                            <td *ngIf='refundedDetails.dispatchId.channel==null'> -
                                                            </td>
                                                            <td> {{refundedDetails?.comments}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="refundModal.hide()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </sa-widgets-grid>
</div>



<div bsModal #refAmtModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="refAmtModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><strong>Add Refund Amount</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div style='border: 0px solid #CCC;'>

                        <form [formGroup]="refundAmtForm">
                            <div class="col-sm-12">
                                <div style="margin-top:2px;margin-bottom:2px">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3"><label for="status"><b>Refund Amount</b></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group" style="margin-bottom:0px">
                                            <input [(ngModel)]='refundAmount' formControlName='refundAmount'
                                                class="form-control" type="number" placeholder="Refund Amount">
                                            <span
                                                *ngIf="refundAmtForm.get('refundAmount').hasError('required') && submitted "
                                                class=" icon-color-bad ">Please
                                                enter Refunded Amount</span>
                                            <span
                                                *ngIf="refundAmtForm.get('refundAmount').hasError('pattern')&& submitted "
                                                class=" icon-color-bad ">Please enter valid amount
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style='text-align:center;'>
                                <span style="text-align:center;font-weight:bold;color:red">{{amountFail}}</span>
                                <span style="text-align:center;font-weight:bold;color:green">{{amountSuccess}}</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:12px;">
                    <button type="button" class="btn btn-default" (click)="hide()">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" [disabled]='btnDisable' (click)="addAmount()">
                        Add Refund Amount<i *ngIf="btnDisable" class="fa fa-refresh fa-spin"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<loader [loading]="loading"> </loader>
<!--<tr>
                                    <th class="hasinput ">
                                        <input type="text" class="form-control" placeholder="Search By Package Name">
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                </tr>-->