<header id="header" class="animated fadeInDown">

  <p class="logoBox">
    <img alt="Solar" class="logoImage" src="assets/img/solar.png">
    <span class="logoName">Solar</span>
  </p>



</header>
<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">

      <div class="col-md-6 col-md-offset-2 ">
        <div class="well no-padding">

          <form id="smart-form-register" [formGroup]="complexForm" method="post" *ngIf="userRegisterModel" class="smart-form client-form">
            <header>
              User Registration
            </header>

            <fieldset>
              <section *ngIf="loginErrorMessgae" style="
                      color: red;"> {{loginErrorMessgae}} </section>
              <section>
                <label class="label" for="name" [ngClass]="{'has-error':! this.name.valid &&  this.name}">Username</label>

                <div class="form-group form-control  input">
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" maxLength="20" name="name" [formControl]="this.name" [(ngModel)]="userRegisterModel.name" placeholder="Username"
                    />

                    <span *ngIf=" this.name.hasError('required') &&submitted  " class=" text-danger ">Please enter username</span>

                    <span *ngIf=" this.name.hasError('pattern') " class=" text-danger ">Please enter valid username</span>

                  </label>
                </div>
              </section>

              <section>
                <label class="label" for="email" [ngClass]="{'has-error':! this.email.valid &&  this.email}">Email</label>

                <div class="form-group form-control  input">
                  <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" name="email" [formControl]="this.email" [(ngModel)]="userRegisterModel.email" placeholder="Email" />

                    <span *ngIf=" this.email.hasError('required') &&submitted  " class=" text-danger ">Please enter email</span>

                    <span *ngIf=" this.email.hasError('pattern') " class=" text-danger ">Please enter valid email</span>

                  </label>
                </div>
              </section>


              <section>
                <label class="label" for="phone" [ngClass]="{'has-error': !this.phone.valid &&  this.phone}">Phone Number</label>

                <div class="form-group form-control  input">
                  <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    <input type="text" name="phone" [formControl]="this.phone" [(ngModel)]="userRegisterModel.phone" placeholder="Phone" />

                    <span *ngIf=" this.phone.hasError('pattern') " class=" text-danger ">Please enter 10 digit number</span>

                    <span *ngIf=" this.phone.hasError('required')  && submitted" class=" text-danger ">Please enter phone</span>
                  </label>
                </div>
              </section>




            </fieldset>



            <div class="row show-grid">
              <div class="col-xs-1 "> </div>
              <div class="col-xs-4 ">
                <span class="hidden-mobile hiddex-xs">Already registered?</span>
                <a routerLink="/login">
                  <u>Sign In</u>
                </a>
              </div>

            </div>
            <br>

            <footer>
              <button type="submit()" (click)="register(userRegisterModel)" [disabled]="!complexForm.valid" class="btn btn-primary">
                Register
                <i class="fa fa-cog fa-spin" *ngIf="loading"></i>
                <span *ngIf="loading">loading...</span>
              </button>
            </footer>

            <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>

</div>
