<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>
<div [hidden]="serviceErrorData" id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">

        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
          color="blueDark">
          <header> 
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Add Driver</h2>
          </header>
          <div class="widget-body">
            <section *ngIf="driverAddSuccess" class="text-success text-center"> {{driverAddSuccess}} </section>
            <section *ngIf="driverAddFailure" class="icon-color-bad text-center"> {{driverAddFailure}} </section>
            <br>
            <form [formGroup]="complexForm" class="form" (ngSubmit)="submitForm(complexForm.value)" method="post">
              <div class="row">
                <div class="col-sm-6">

                  <div class="row">
                    <label class="col-sm-4 control-label " [ngClass]="{'has-error':! this.firstName.valid &&  this.firstName}">
                      First Name
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6">
                      <input type="text" class="form-control" value='' placeholder="First name" [formControl]="this.firstName" [(ngModel)]="driver.firstName">
                      <span *ngIf=" this.firstName.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter first name</span>
                      <span *ngIf=" this.firstName.hasError('minlength') ||this.firstName.hasError('maxlength') ||this.firstName.hasError('pattern') "
                        class="icon-color-bad">Please enter valid name between 3 to 32 characters only</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label  split-input" for="phoneNumber" [ngClass]="{'has-error':! this.phoneNumber.valid &&this.formValidate}">
                      Phone Number
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6">
                      <input type="text" class="form-control" minlength="10" maxlength="16" size="30" placeholder="Phone number" [formControl]="this.phoneNumber"
                        [(ngModel)]="driver.phoneNumber">
                      <span *ngIf=" this.phoneNumber.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter phone number</span>
                      <span *ngIf="this.phoneNumber.hasError('minlength') && !this.phoneNumber.hasError('pattern')" class="icon-color-bad">Phone number should be min 10 digits</span>
                      <span *ngIf="this.phoneNumber.hasError('pattern')" class="icon-color-bad">Please enter only digits</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label " [ngClass]="{'has-error':!this.lastName.valid &&  this.formValidate}" for="lastName">
                      Last Name
                    </label>
                    <div class="controls col-sm-6">
                      <input type="text" class="form-control" placeholder="Last name" [formControl]="this.lastName" [(ngModel)]="driver.lastName"
                        name="lastName">
                      <span *ngIf="  this.lastName.hasError('minlength') ||this.lastName.hasError('maxlength') ||this.lastName.hasError('pattern') "
                        class="icon-color-bad">Please enter valid name between 3 to 32 characters only</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label split-input" [ngClass]="{'has-error':!this.email.valid &&this.email}">
                      Email
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" size="30" value='' [formControl]="this.email"
                        [(ngModel)]="driver.email">
                      <span *ngIf=" this.email.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter email address</span>
                      <span *ngIf=" this.email.hasError('pattern') " class="icon-color-bad">Please enter a valid email address</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label " for="bDate">
                      DOB
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <my-date-picker [options]="myDatePickerOptions" [selDate]="dateOfBirth" [placeholder]="placeholder" [(ngModel)]="dateBirth"
                        name="mydate" (dateChanged)="onDateChanged($event)" [ngModelOptions]="{standalone: true}" required></my-date-picker>
                      <span *ngIf="this.formValidate && dateBirth == null " class="icon-color-bad ">Please enter date of birth</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label  split-input" for="licenseNumber" [ngClass]="{'has-error':! this.licenseNumber.valid &&this.formValidate}">
                      License Number
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6">
                      <input type="text" class="form-control" placeholder="License number" [formControl]="this.licenseNumber" [(ngModel)]="driver.licenseNumber">
                      <span *ngIf=" this.licenseNumber.hasError('required') &&  this.formValidate" class="icon-color-bad ">Please enter license number</span>
                      <span *ngIf="this.licenseNumber.hasError('pattern')||this.licenseNumber.hasError('minlength')||this.licenseNumber.hasError('maxlength')"
                        class="icon-color-bad">Please enter valid license number</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label ">
                      License Expiry Date
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6" *ngIf="driver">
                      <my-date-picker [options]="datePickerOptions" [selDate]="dateOfBirth" placeholder="Select license expiry date" [(ngModel)]="licenseExpiry"
                        name="mydate" (dateChanged)="onDateChanged($event)" [ngModelOptions]="{standalone: true}" required></my-date-picker>
                      <span *ngIf="this.formValidate && licenseExpiry == null " class="icon-color-bad ">Please enter license expiry date</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row">
                    <label class="col-sm-4 control-label" for="vendorNum" [ngClass]="{'has-error':! this.vendorNum.valid &&  this.vendorNum}">
                      Vendor
                      <font class="icon-color-bad">*</font>
                    </label>
                    <div class="controls col-sm-6">
                      <select class="form-control" id="vendorNum" name="vendorNum" [formControl]="this.vendorNum" [(ngModel)]="driver.vendor">
                        <option value='' disabled>Select vendor</option>
                        <option *ngFor="let vendor of vendorsList" [value]="vendor.vendorNbr">{{vendor.vendorName}}</option>
                      </select>
                      <span *ngIf="this.vendorNum.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select vendor name</span>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="smart-form">
                <footer>
                  <div class="row">
                    <div class="control-group col-sm-6 col-sm-offset-6">
                      <button class="btn  btn-warning btn-sm" (click)="goBack()">Cancel</button>
                      <button class="btn  btn-success btn-sm" type="submit"> Add </button>
                    </div>
                  </div>
                </footer>
              </div>
            </form>
          </div>
        </sa-widget>
      </div>
    </div>
  </sa-widgets-grid>
</div>