<div id="content">
  <sa-widgets-grid>

    <sa-widget [colorbutton]="true" [editbutton]="false" color="greenDark">
      <!-- widget options:
              usage: <sa-widget id="wid-id-0" [editbutton]="false">
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
          -->
      <header>
        <h2>Notifications Channels Settings</h2>
      </header>
      <!-- widget div-->
      <div>
        <!-- widget content -->
        <div class="widget-body ">

          <div class="custom-scroll  smart-form">


            <!--<div class="row">
              <section class="col col-2">
                <label class="label" for="user">User</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="text"    name="user" [(ngModel)]="notificationChannel.user" placeholder="user's'">						
            </label>
              </section>
            </div>-->



            <div class="row">
              <section class="col col-2">
                <label class="label" for="module">Module</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="text"    name="module" [(ngModel)]="notificationChannel.serviceevent.module"  placeholder="Module">						
            </label>
              </section>
            </div>


            <div class="row">
              <section class="col col-2">
                <label class="label" for="code">Event Code</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="text"    name="code" [(ngModel)]="notificationChannel.serviceevent.code"  placeholder="Event Code">						
            </label>
              </section>
            </div>



            <div class="row">
              <section class="col col-2">
                <label class="label" for="event">Event</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="text"    name="event" [(ngModel)]="notificationChannel.serviceevent.event"  placeholder="Event">						
            </label>
              </section>
            </div>


            <div class="row">
              <section class="col col-2">
                <label class="label" for="emailTemplate">Email Template</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="tel"    name="emailTemplate" [(ngModel)]="notificationChannel.emailTemplate"  placeholder="Email Template">						
            </label>
              </section>
            </div>


            <div class="row">
              <section class="col col-2">
                <label class="label" for="phoneTemplate">SMS Template</label>
              </section>
              <section class="col col-4">
                <label class="input form-control">
              <input type="text"    name="phoneTemplate" [(ngModel)]="notificationChannel.phoneTemplate"  placeholder="SMS Template">						
            </label>
              </section>
            </div>




            <div class="row">
              <section class="col col-2">
                <label class="label" for="email">Email</label>
              </section>
              <section class="col ">
                <label class="input toggle ">                 
                  <input checked="checked" [(ngModel)]="notificationChannel.email" name="email" type="checkbox">
                        <i data-swchoff-text="OFF" data-swchon-text="ON"></i>                 
                 	</label>
              </section>
            </div>


            <div class="row">
              <section class="col col-2">
                <label class="label" for="sms">SMS</label>
              </section>
              <section class="col ">
                <label class="input toggle">
               <input checked="checked" [(ngModel)]="notificationChannel.sms" name="sms" type="checkbox">
                        <i data-swchoff-text="OFF" data-swchon-text="ON"></i>
            </label>
              </section>
            </div>


            <div class="row">
              <section class="col col-2">
                <label class="label" for="notificationCenter">Notification Center</label>
              </section>
              <section class="col ">
                <label class="input toggle">            
               <input checked="checked" [(ngModel)]="notificationChannel.notificationCenter" name="notificationCenter" type="checkbox"><i data-swchoff-text="OFF" data-swchon-text="ON"></i>
            </label>
              </section>
            </div>


            <section *ngIf="channelLoginError" style="color: red;"> {{channelLoginError}} </section>




            <footer>
              <button class="btn btn-primary" type="submit" (click)="notificationChannelUpdate(notificationChannel)">Submit</button>
              <button class="btn btn-default" onclick="window.history.back();" type="button">Back</button>
            </footer>

          </div>
        </div>
        <!-- end widget content -->
      </div>
      <!-- end widget div -->
    </sa-widget>





  </sa-widgets-grid>
</div>
