<!--<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-lg-12" align="center">
            <h4 style="margin-top: 300px;"> Session is Expired or User logged into another location</h4>
            <button type="button" class="btn btn-default" routerLink="/login" routerLinkActive="active">Login</button>
        </div>
    </div>
</div>-->

<header id="header" class="animated fadeInDown">
    <p class="logoBox">
        <img alt="Solar" class="logoImage" src="assets/img/solar.png">
        <span class="logoName">Solar</span>
    </p>
</header>

<div class="animated fadeInDown">

    <div id="content" class="container">

        <div class="row">
            <div class="col-lg-12" align="center">
                <h4 style="margin-top: 200px;"> Session is Expired or User logged into another location</h4>
                <br>
                <button type="button" class="btn btn-default" routerLink="/login" routerLinkActive="active">Login</button>
            </div>
        </div>
    </div>

</div>
