<app-error500 [errorname]="getLoadserrorResponse" *ngIf="loadErrorData"></app-error500>

<div [hidden]="loadErrorData" id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>Select Load Number </h2>
                    </header>

                    <div class="widget-body" style="min-height:48px;">
                        <div class="smart-form  col-sm-4">
                            <label class="select">
                                <select name="view" class="input-sm" [(ngModel)]="loadQueryData.loadNumber"
                                    (ngModelChange)="getloadDetailsbyLoadnum(loadQueryData.loadNumber)" placeholder="'Select Load'">
                                    <option value="" disabled>
                                        <strong> Select load</strong>
                                    </option>
                                    <option *ngFor="let loadValue of loadListQueryArray" [value]="loadValue.loadNumber">{{loadValue.loadNumber}}</option>
                                </select>
                                <i></i>
                            </label>
                        </div>
                        <div class="smart-form  col-sm-4">
                                <label class="select">
                                    <select name="view" class="input-sm" [(ngModel)]="loadQueryData.driverId"
                                        (ngModelChange)="getloadDetailsbyDrivernum(loadQueryData.driverId)"
                                        placeholder="'Select Load'">
                                        <option value="" disabled>
                                            <strong> Select driver</strong>
                                        </option>
                                        <option *ngFor="let loadValue of loadListQueryArray"
                                            [value]="loadValue.loadNumber">{{loadValue.driver.firstName}}</option>
                                    </select>
                                    <i></i>
                                </label>
                            </div>
                    </div>
                </sa-widget>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>Load Details </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding ">
                            <table id="LoadDetails" class="table text-center table-striped table-bordered table-hover dataTables-example dataTable dtr-inline display custom-font"
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Driver Name</th>
                                        <th style="text-align: center">Pickup Location</th>
                                        <th style="text-align: center">Skid Drops</th>
                                        <th style="text-align: center">Delivered</th>
                                        <th style="text-align: center">Weather Report</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="4" *ngIf="!loaddetails" class="text-center">No loads selected</td>
                                    </tr>
                                    <tr *ngIf="loaddetails">
                                        <td>{{loaddetails.driver.firstName}} &nbsp; {{loaddetails.driver.lastName}}</td>
                                        <td>{{loaddetails.originLocNbr.locAddrName}}</td>
                                        <td>{{loaddetails.skidDropsCount}}</td>
                                        <td>{{loaddetails.postInspectionCompletedSkids}}</td>
                                        <td>
                                            <div id="imageDiv" style="cursor:pointer">
                                                <img src='../../../../assets/img/map/weather.png' class='view_weather_details' (click)="viewWeather(loaddetails.driver.latitude,loaddetails.driver.longitude)"
                                                />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>Load Routing </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding ">
                            <div id="map" style="width: 100%;height: 500px"></div>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>
    </sa-widgets-grid>
</div>



<div bsModal #weatherDetailsModal="bs-modal" top='10%' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content status">
            <div class="modal-header">
                <button type="button" class="close" (click)="weatherDetailsModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <b>Weather Report</b>
            </div>

            <div class="modal-body loader" *ngIf="weatherLoader" align="center">
            </div>
            <div class="modal-body" *ngIf="!weatherLoader && !weatherResponse && weatherErrorResponse" align="center">
                <div>{{weatherErrorResponse}}</div>
            </div>

            <div class="modal-body" *ngIf="!weatherLoader && weatherResponse">
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 weatherTitle" style="color:rgb(244,128,36)">
                        <b>{{weatherResponse?.name }} ( {{weatherResponse?.id}})</b>
                    </div>
                </div>-->
                <div class="row" style="margin-top:2%">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 weather-img" align="center">
                        <img src="http://forecast.weather.gov/newimages/medium/{{weatherResponse?.weatherimage}}" alt="Cinque Terre" width="80" height="80">
                        <div class="padding-5">
                            <b>{{weatherResponse?.weather}}</b>
                        </div>
                        <div>{{weatherResponse?.temp}} &deg;F &nbsp; {{weatherResponse?.tempC}} &deg;C</div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" align="left">
                        <div class="weather-info">
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Humidity</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.relh}} % </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Wind Speed</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.wind_speed}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Barometer</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.barometer}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Dew Point</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.dewp}}
                                            <label>&deg;F</label>
                                            <label>({{weatherResponse?.dewPOintInDeg}}</label>
                                            <label>&deg;C)</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Visibility</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.visibility}} mi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Last Updated</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">
                                        <span>{{weatherResponse?.date}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="weatherDetailsModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>



<!--<app-error500 [errorname]="getLoadserrorResponse" *ngIf="loadErrorData"></app-error500>

<div [hidden]="loadErrorData" id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" [fullscreenbutton]="false" [collapsed]="false" [colorbutton]="false" [togglebutton]="false"
                    color="blueDark">
                    <header>
                        <span class="widget-icon">
                                <i class="fa fa-table"></i>
                            </span>
                        <h2>Select Load Number </h2>
                    </header>

                    <div class="widget-body" style="min-height:48px;">
                        <div class="smart-form  col-sm-4">
                            <label class="select">
                                    <select name="view" class="input-sm" [(ngModel)]="loadQueryData.loadNumber" (ngModelChange)="getloadDetailsbyLoadnum(loadQueryData.loadNumber)"
                                        placeholder="'Select Load'">
                                        <option value="" disabled>
                                            <strong> Select load</strong>
                                        </option>
                                        <option *ngFor="let loadValue of loadListQueryArray" [value]="loadValue.apptNbr">{{loadValue.apptNbr}}</option>
                                    </select>
                                    <i></i>
                                </label>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon">
                                <i class="fa fa-table"></i>
                            </span>
                        <h2>Current Drop Load Details </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding ">
                            <table id="LoadDetails" class="table text-center table-striped table-bordered table-hover dataTables-example dataTable dtr-inline display custom-font"
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Driver Name</th>
                                        <th>Pickup Location</th>
                                        <th>Destination</th>
                                        <th>Estimated Distance</th>
                                        <th>Estimated Time</th>
                                        <th>Estimated Arrival Time</th>
                                        <th>Weather Report</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="7" *ngIf="!loaddetails" class="text-center">No loads selected</td>
                                    </tr>
                                    <tr *ngIf="loaddetails">
                                        <td>{{loaddetails.driver.firstName}} &nbsp; {{loaddetails.driver.lastName}}</td>
                                        <td>{{loaddetails.originLocNbr.locAddrName}}</td>
                                        <td>{{loaddetails.destLocNbr.locAddrName}}</td>
                                        <td>{{loaddetails.setEstimateDest}}</td>
                                        <td>{{loaddetails.setEstimateTime}} </td>
                                        <td>
                                            <span *ngIf="loaddetails.setEstimateTime">{{loaddetails.setEstimateArrivalTime|moment:"ddd, MMM Do YYYY, h:mm a" }}</span>
                                        </td>
                                        <td>
                                            <div id="imageDiv" style="cursor:pointer">
                                                <img src='../../../../assets/img/map/weather.png' class='view_weather_details' (click)="viewWeather(loaddetails.driver.latitude,loaddetails.driver.longitude)"
                                                />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon">
                                <i class="fa fa-table"></i>
                            </span>
                        <h2>Load Routing </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding ">
                            <div id="map"></div>
                        </div>
                    </div>
                </sa-widget>
            </div>
        </div>
    </sa-widgets-grid>
</div>



<div bsModal #weatherDetailsModal="bs-modal" top='10%' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content status">
            <div class="modal-header">
                <button type="button" class="close" (click)="weatherDetailsModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <b>Weather Report</b>
            </div>

            <div class="modal-body loader" *ngIf="weatherLoader" align="center">
            </div>
            <div class="modal-body" *ngIf="!weatherLoader && !weatherResponse && weatherErrorResponse" align="center">
                <div>{{weatherErrorResponse}}</div>
            </div>

            <div class="modal-body" *ngIf="!weatherLoader && weatherResponse">
                
                <div class="row" style="margin-top:2%">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 weather-img" align="center">
                        <img src="http://forecast.weather.gov/newimages/medium/{{weatherResponse?.weatherimage}}" alt="Cinque Terre" width="80" height="80">
                        <div class="padding-5">
                            <b>{{weatherResponse?.weather}}</b>
                        </div>
                        <div>{{weatherResponse?.temp}} &deg;F &nbsp; {{weatherResponse?.tempC}} &deg;C</div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" align="left">
                        <div class="weather-info">
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Humidity</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.relh}} % </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Wind Speed</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.wind_speed}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Barometer</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.barometer}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Dew Point</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.dewp}}
                                                <label>&deg;F</label>
                                                <label>({{weatherResponse?.dewPOintInDeg}}</label>
                                                <label>&deg;C)</label>
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Visibility</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">

                                        <span>{{weatherResponse?.visibility}} mi</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row list">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6  no-padding">
                                    <div class="weather-parameters" align="right">
                                        <b>Last Updated</b>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
                                    <div class="weather-parameters">
                                        <span>{{weatherResponse?.date}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="weatherDetailsModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>-->