header {
	width: 102%;
	margin-top: 0px !important;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px 0px 0px 0px;
}

img {
	margin: 0px 0px 0px 60px;
}

footer {
	z-index: 10;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: gray;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #e6ffe6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

.btn-primary {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 8px;

	/*  background-color: #b3d9ff;
   align:center;
    padding:5px; 
    margin-bottom: 20px;
    width: 240;
        height: 50; */
}