<date-filter (dateData)="QueryDate($event)">
</date-filter>
<sa-widgets-grid *ngIf="hideThePage">
    <div class="row" style="padding:10px">
        <ticket-kpi-boxes [ticketsKpiInfo]="ticketsKpiInfo"></ticket-kpi-boxes>
        <div class="col-sm-12">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>TICKET SIZE </h2>
                </header>
                <div class="widget-body text-center">
                    <h3>There is no data in selected time range</h3>
                </div>
            </div>
        </div>
    </div>
</sa-widgets-grid>
<sa-widgets-grid *ngIf="!hideThePage">
    <div class="row" style="padding:10px">
        <ticket-kpi-boxes [ticketsKpiInfo]="ticketsKpiInfo"></ticket-kpi-boxes>
        <div class="col-sm-12" [hidden]="!showActuals">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>STATE-WISE TICKET SIZES </h2>
                    <div class="widget-toolbar inventory_location_chart" role="menu" (click)="getChartData()">
                        <a class="btn btn-primary"> Reset</a>
                    </div>
                </header>

                <div class="widget-body widget-body-r">
                    <div id="ticketsizepieContainershw" style="height:250px"></div>
                </div>
            </div>
        </div>


        <div class="row" style="padding:10px 10px 0px 10px">
            <div class="col-sm-6 col-xs-12 padding-ad-13" [hidden]="!clusterStatus">
                <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                    [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                    color="blueDark" class="box-shadow-ui">
                    <header>
                        <h2>CLUSTER-WISE TICKET SIZES </h2>
                        <div class="widget-toolbar inventory_location_chart" role="menu"
                            (click)="callingCluster(clusterEvent)">
                            <a class="btn btn-primary"> Reset</a>
                        </div>
                    </header>
                    <div class="widget-body widget-body-r">
                        <div id="ticketsizepieCluster" style="height:250px"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12 padding-r-11" [hidden]="!locationStatus">
                <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                    [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                    color="blueDark" class="box-shadow-ui">
                    <header>
                        <h2>LOCATION-WISE TICKET SIZES </h2>
                        <div class="widget-toolbar inventory_location_chart" role="menu"
                            (click)="callingLocations(locationEvent)">
                            <a class="btn btn-primary"> Reset</a>
                        </div>
                    </header>

                    <div class="widget-body widget-body-r">
                        <div id="ticketsizepieLocation" style="height:250px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div [ngClass]="lengthStatus?'col-sm-12 padding-ad-13':'col-sm-6 padding-ad-13'" [hidden]="!showActuals">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>GOLD & DIAMONDS TICKET SIZE</h2>
                    <!--<div class="widget-toolbar inventory_status_chart" role="menu">
                        <on-off-switch (onoffClick)="lineChartConvertion('golddiamondgroup')"></on-off-switch>
                    </div>-->
                </header>
                <div class="widget-body widget-body-r">
                    <div id="goldDiamondsTicketStack" style="height:250px"></div>
                </div>
            </div>
        </div>


        <div [ngClass]="lengthStatus?'col-sm-12 padding-r-11':'col-sm-6 padding-r-11'">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>DIAMONDS - TARGET vs ACTUAL TICKET SIZE </h2>
                    <div class="widget-toolbar inventory_status_chart" role="menu">
                        <on-off-switch (onoffClick)="lineChartConvertion('diamondTargetgroup')"></on-off-switch>
                    </div>
                </header>
                <div class="widget-body widget-body-r">
                    <div id="targetvsActuals_diamond" style="height:250px"></div>
                </div>
            </div>
        </div>
        <div [ngClass]="lengthStatus?'col-sm-12 padding-ad-13':'col-sm-6 padding-ad-13'">
            <div sa-widget [sortable]="false" [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false"
                [colorbutton]="false" [deletebutton]="false" saSparklineContainer saEasyPieChartContainer
                color="blueDark" class="box-shadow-ui">
                <header>
                    <h2>GOLD - TARGET vs ACTUAL TICKET SIZE </h2>

                    <div class="widget-toolbar inventory_status_chart" role="menu">
                        <on-off-switch (onoffClick)="lineChartConvertion('goldTargetgroup')"></on-off-switch>
                    </div>
                </header>
                <div class="widget-body widget-body-r">
                    <div id="targetvsActuals_gold" style="height:250px"></div>
                </div>
            </div>
        </div>

    </div>
</sa-widgets-grid>

<loader [loading]=loaderStatus></loader>