<div id="hide-menu" class="btn-header transparent pull-left" style="padding-left:3px">
        <span>
                <a (click)="onToggle()" title="Collapse Menu">
                        <i class="fa fa-reorder"></i>
                </a>
        </span>
</div>
<!--*ngIf="enableBackButton" -->
<!-- <div class="btn-header transparent pull-left" style="padding-left:3px">
        <span>
                <a (click)="backButton()" title="Collapse Menu">
                        <i class="fa fa-arrow-left"></i>
                </a>
        </span>

</div> -->